
    <a class="link-back" href="/">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <p>You can use the helpline if you:</p>

        <ul class="list list-bullet">
          <li>have a general query about your case or the court process</li>
          <li>need help using the online service</li>
        </ul>

        <div class="panel panel-border-wide" role="note" aria-label="Information">
          <p>We can&rsquo;t give legal advice but you can <a href="http://www.lawsociety.org.uk/for-the-public/common-legal-issues/criminal" target="_blank">get further help<span class="visually-hidden"> (opens in a new window)</span></a> from the Law Society.</p>
        </div>

        <h2 class="heading-medium">Before you call</h2>
        <p>Make sure you have the Single Justice Procedure notice you were sent. You&rsquo;ll need to confirm details from this.</p>

        <div class="panel  panel-border-narrow">

          <h2 class="visually-hidden">Contact details</h2>

          <p class="bold-medium">Telephone 0300 063 2140<br><span class="font-medium">Monday to Friday 7am to 10pm<br>Saturday, 9am to 12pm</span> <br><br> or <br><br> email <a href="mailto:sjs@hmcts.gsi.gov.uk">sjs@hmcts.gsi.gov.uk</a></p>

        </div>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
