{{#compare elsewhere "===" "true"}}

<div class="related">

  <h2 class="related-heading">Elsewhere on GOV.UK</h2>

  <ul class="related-list">
    <li class="related-list-item"><a href="/">To be confirmed</a></li>
    <li class="related-list-item"><a href="/">To be confirmed</a></li>
    <li class="related-list-item"><a href="/">To be confirmed</a></li>
    <li class="related-list-item"><a href="/">To be confirmed</a></li>
  </ul>

</div>

{{else}}

<div class="related">

  <h2 class="related-heading">Help and advice</h2>

  <ul class="related-list">
    <li class="related-list-item"><a href="/get-help-with-your-plea">Get help with your plea</a></li>
    <li class="related-list-item"><a href="/legal-advice-and-help">Legal advice and help</a></li>
    <!--li class="related-list-item"><a href="/help-with-the-court-process">Help with the court process</a></li-->
  </ul>

</div>

{{/compare}}
