<div class="related">

  <h2 class="related-heading">Help and advice</h2>

  <ul class="related-list">
    <li class="related-list-item"><a href="/">Help with your charges</a></li>
    <li class="related-list-item"><a href="/">Legal advice and help</a></li>
    <li class="related-list-item"><a href="/">Help with the court process</a></li>
  </ul>

</div>
