
    <a class="link-back" href="/">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <form class="form" method="post" novalidate>

          <div class="panel  panel-border-narrow">
            <p>To help the court make a decision about your payment terms, you must provide this information about your expenses.</p>
          </div>

          <h2 class="heading-medium">Outgoings</h2>

          <p>What are your monthly bills for the following?</p>

          <div class="form-group">
            <label for="expenses-accomodation">
              <span class="form-label-bold">Accomodation</span>
              <span class="form-hint">For example, rent, mortgage or lodgings</span>
            </label>
            <div class="form-currency">
              <input class="form-control  form-control-1-4" id="expenses-accomodation" name="expensesAccomodation" type="text">
            </div>
          </div>

          <div class="form-group">
            <label for="expenses-council-tax">
              <span class="form-label-bold">Council tax</span>
            </label>
            <div class="form-currency">
              <input class="form-control  form-control-1-4" id="expenses-council-tax" name="expensesCouncilTax" type="text">
            </div>
          </div>

          <div class="form-group">
            <label for="expenses-insurance">
              <span class="form-label-bold">Insurance</span>
              <span class="form-hint">For example, home, life, car</span>
            </label>
            <div class="form-currency">
              <input class="form-control  form-control-1-4" id="expenses-insurance" name="expensesInsurance" type="text">
            </div>
          </div>

          <div class="form-group">
            <label for="expenses-utility-bills">
              <span class="form-label-bold">Utility bills</span>
              <span class="form-hint">For example, gas, water, electricity</span>
            </label>
            <div class="form-currency">
              <input class="form-control  form-control-1-4" id="expenses-utility-bills" name="expensesUtilityBills" type="text">
            </div>
          </div>

          <div class="form-group">
            <label for="expenses-travel">
              <span class="form-label-bold">Travel expenses</span>
              <span class="form-hint">For example, fuel, car, public transport</span>
            </label>
            <div class="form-currency">
              <input class="form-control  form-control-1-4" id="expenses-travel" name="expensesTravel" type="text">
            </div>
          </div>

          <div class="form-group">
            <label for="expenses-child-maintenance">
              <span class="form-label-bold">Child maintenance</span>
            </label>
            <div class="form-currency">
              <input class="form-control  form-control-1-4" id="expenses-child-maintenance" name="expensesChildMaintenance" type="text">
            </div>
          </div>

          <div class="form-group">
            <label for="expenses-county-court-orders">
              <span class="form-label-bold">County court orders</span>

            </label>
            <div class="form-currency">
              <input class="form-control  form-control-1-4" id="expenses-county-court-orders" name="expensesCountyCourtOrders" type="text">
            </div>
          </div>

          <div class="form-group">
            <label for="any-other-expenses-not-listed">
              <span class="form-label-bold">Any other expenses not listed?</span>
              <span class="form-hint">List any other outgoings or information you believe the court should know about, including why paying a fine will give you a serious financial hardship.</span>
            </label>
            <textarea class="form-control  form-control-3-4" id="any-other-expenses-not-listed" name="anyOtherExpensesNotListed" cols="60" rows="3"></textarea>
          </div>

          <div class="form-group  form-group-related">
            <button class="button" type="submit">Continue</button>
          </div>

          <p><a href="/">Back</a></p>

        </form>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
