
    <a class="link-back" href="/">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
