
    <a class="link-back" href="/">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <form class="form" method="post" novalidate>

          <div class="form-group">

            <fieldset>

              <legend>
                <span class="form-label-bold">Which benefits do you receive?</span>
              </legend>

              <label class="block-label  selection-button-radio">
                <input name="whichBenefitsDoYourReceive" type="radio" value="Contributory Employment and Support Allowance"> Contributory Employment and Support Allowance
              </label>

              <label class="block-label  selection-button-radio">
                <input name="whichBenefitsDoYourReceive" type="radio" value="Income&ndash;related Employment and Support Allowance"> Income&ndash;related Employment and Support Allowance
              </label>

              <label class="block-label  selection-button-radio">
                <input name="whichBenefitsDoYourReceive" type="radio" value="Income support"> Income support
              </label>

              <label class="block-label  selection-button-radio">
                <input name="whichBenefitsDoYourReceive" type="radio" value="Universal Credit"> Universal Credit
              </label>

              <label class="block-label  selection-button-radio">
                <input name="whichBenefitsDoYourReceive" type="radio" value="Other benefit"> Other<span class="visually-hidden"> benefits not listed</span>
              </label>

            </fieldset>

          </div>

          <div class="form-group">

            <fieldset>

              <legend>
                <span class="form-label-bold">How often is your benefit paid?</span>
              </legend>

              <label class="block-label  selection-button-radio">
                <input name="howOftenIsYourBenefitPaid" type="radio" value="Benefit is paid weekly"> <span class="visually-hidden">Benefit is paid </span>Weekly
              </label>

              <label class="block-label  selection-button-radio">
                <input name="howOftenIsYourBenefitPaid" type="radio" value="Benefit is paid fortnightly"> <span class="visually-hidden">Benefit is paid </span>Fortnightly
              </label>

              <label class="block-label  selection-button-radio">
                <input name="howOftenIsYourBenefitPaid" type="radio" value="Benefit is paid monthly"> <span class="visually-hidden">Benefit is paid </span>Monthly
              </label>

            </fieldset>

          </div>

          <div class="form-group  form-group-related">
            <button class="button" type="submit">Continue</button>
          </div>

          <p><a href="/">Back</a></p>

        </form>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
