
    <div class="grid-row">

      <div class="column-two-thirds">

        <div class="alert  alert--submitted">
          <h1 class="bold-large">{{{title}}}</h1>
          <p>Your case reference number is <br> <strong class="heading-medium">HDJ2123F</strong></p>
          <p>You will need to quote this if you contact the court.</p>
        </div>

        <h2 class="heading-medium">What happens next?</h2>

        <ul class="list  list-bullet">
          <li>we&rsquo;ll send you an email and letter with the magistrate&rsquo;s decision</li>
          <li>we&rsquo;ll tell you if you need to attend a trial and what evidence you may need</li>
          <li>you can <a href="/">print a copy</a> of this plea confirmation for your records</li>
        </ul>

        <h2 class="heading-medium">Need to change your plea?</h2>

        <p>Contact the court by post and email quoting your case reference number as soon as possible.</p>

        <h3 class="heading-small">By post</h3>

        <p>Lavender Hill Magistrates Court <br> 176a Lavender Hill <br> Clapham Junction <br> London SW11 1JU</p>

        <h3 class="heading-small">By email</h3>

        <p><a href="/">swglondonmc@hmcts.gsi.gov.uk</a></p>

        <div class="button-actions">
          <a class="button" href="/pay-your-penalty">Continue to payment</a>
        </div>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
