
    <a class="link-back" href="/check-your-answers/guilty">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <p class="lede">You must provide details of your finances, as you&rsquo;ve been charged with an offence.</p>

        <p class="notice  text">
          <i class="icon  icon-important"><span class="visually-hidden">Warning</span></i>
          <strong>You may be prosecuted for failing to provide this information</strong>
        </p>

        <p class="leadin">The court will decide a fine based on:</p>

        <ul class="list  list-bullet">
          <li>your finances</li>
          <li>the seriousness of the offence</li>
        </ul>

        <p><a class="button" href="/your-employment">Continue</a></p>

        <p><a href="/">Back</a></p>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
