
    <a class="link-back" href="/your-details">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <div class="panel  panel-border-narrow">
          <p>This is your opportunity to respond to the court.</p>
          <ul class="list  list-bullet">
            <li>the charge details and witness statements are in the documentation sent to you</li>
            <li>each offence may carry a fine</li>
            <li>if you plead guilty you may get a reduction on any fine imposed</li>
          </ul>
        </div>

        <hr class="divider  divider-gutter-large" aria-hidden="true">

        <h2 class="heading-large">Details of charge</h2>

        <h3 class="heading-medium">Passenger failing to produce a ticket</h3>

        <details>
          <summary><span class="summary">View charge information</span></summary>
          <div class="panel  panel-border-narrow">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </details>

        <hr class="divider  divider-gutter-large" aria-hidden="true">

        <h2 class="heading-large">Enter your plea</h2>

        <form class="form" method="post" novalidate>

          <h3 class="heading-medium">How do you plead?</h3>

          <div class="form-group">

            <fieldset class="inline">

              <legend class="visually-hidden">How do you plead?</legend>

              <label class="block-label  selection-button-radio" data-target="plead-guilty">
                <input type="radio" name="howDoYouPlead" value="Guilty"><span class="visually-hidden"> I plead</span> Guilty
              </label>

              <label class="block-label  selection-button-radio" data-target="plead-not-guilty">
                <input type="radio" name="howDoYouPlead" value="Not guilty"><span class="visually-hidden"> I plead</span> Not guilty
              </label>

              <!-- Guilty -->
              <div class="panel  panel-border-narrow  js-hidden" id="plead-guilty">

                <p>Pleading <strong>guilty</strong> is an admission that you commited the offence and will be convicted and sentanced based on the submission of your guilty plea.</p>

                <p>You have three options for how you can plead guilty to this offence:</p>

                <div class="form-group">

                  <fieldset class="inline">

                    <legend class="visually-hidden">How do you plead guilty to this offence?</legend>

                    <div class="form-group  form-group-compound">
                      <label class="block-label  selection-button-radio" data-target="accept-an-automated-standard-penalty">
                        <input type="radio" name="howDoYouPleadGuiltyToThisOffence" value="Accept an automated standard penalty"> Accept an automated standard penalty
                      </label>

                      <div class="panel  panel-border-narrow  js-hidden" id="accept-an-automated-standard-penalty">

                        <p>If you accept this standard penalty:</p>

                        <ul class="list  list-bullet">
                          <li>you will not be required to attend court and no magistrate will be involved in your case</li>
                          <li>you will be convicted of the offences as charged</li>
                          <li>your sentence will be a standard financial penalty that you can:
                            <ul class="list  list-bullet">
                              <li>pay immediately or</li>
                              <li>by payment terms agreed with the court by providing information about your financial means</li>
                            </ul>
                          </li>
                          <li>you accept that the standard financial penalty may be less than or greater than that imposed at the discretion of a magistrate having considered your financial means</li>
                          <li>the court will have automatic powers to enforce payment of the penalty imposed</li>
                          <li>you will be willingly waiving your right to a trial by the court (as granted to you by Article 6 of the European Convention of Human Rights)</li>
                          <li>the court is required to disclose details of all convictions</li>
                        </ul>

                        <div class="form-group">
                          <fieldset>
                            <legend>
                              <span class="form-label-bold">In your case, there&rsquo;s a statutory fixed penalty of &pound;141.50</span>
                            </legend>
                            <div class="form-group">
                              <label class="block-label  selection-button-checkbox">
                                <input name="statutoryFixedPenalty" value="I understand there&rsquo;s a statutory fixed penalty" type="checkbox"> I understand<span class="visually-hidden"> there&rsquo;s a statutory fixed penalty of &pound;141.50</span>
                              </label>
                            </div>
                          </fieldset>
                        </div>

                      </div>

                    </div>

                    <div class="form-group  form-group-compound">

                      <label class="block-label  selection-button-radio" data-target="plead-guilty-online-no-need-to-attend-court">
                        <input type="radio" name="howDoYouPleadGuiltyToThisOffence" value="Plead guilty online (no need to attend court)"> Plead guilty online (no need to attend court)
                      </label>

                      <div class="panel  panel-border-narrow  js-hidden" id="plead-guilty-online-no-need-to-attend-court">
                        <p>Text about what this means is to be confirmed. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                      </div>

                    </div>

                    <div class="form-group">

                      <label class="block-label  selection-button-radio" data-target="attend-court-to-plead-guilty">
                        <input type="radio" name="howDoYouPleadGuiltyToThisOffence" value="attend-court-to-plead-guilty"> Attend court to plead guilty
                      </label>

                      <div class="panel  panel-border-narrow  js-hidden" id="attend-court-to-plead-guilty">
                        <p>Text about what this means is to be confirmed. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        <div class="form-group">
                          <label for="attend-court-to-plead-guilty-mitigation">
                            <span class="form-label">Mitigation (optional)</span>
                            <span class="form-hint">Include anything you&rsquo;d like the court to consider when making a decision about your guilty plea.</span>
                          </label>
                          <textarea class="form-control  form-control-3-4" id="attend-court-to-plead-guilty-mitigation" name="attendCourtToPleadGuiltyMitigation" cols="60" rows="3"></textarea>
                        </div>
                      </div>

                    </div>

                  </fieldset>

                </div>

              </div>

              <!-- Not guilty -->
              <div class="panel  panel-border-narrow  js-hidden" id="plead-not-guilty">

                <p>Pleading <strong>not guilty</strong> is disputing that you did not commit the offence and you will be required to attend court and present your evidence.</p>

                <div class="form-group">
                  <label for="why-do-you-believe-you-are-not-guilty">
                    <span class="form-label">Why do you believe your not guilty?</span>
                  </label>
                  <textarea class="form-control  form-control-3-4" id="why-do-you-believe-you-are-not-guilty" name="whyDoYouBelieveYouAreNotGuilty" cols="60" rows="3"></textarea>
                </div>

                <div class="form-group">

                  <fieldset>

                    <legend>
                      <span class="form-label">Do you need an interpreter in court?</span>
                    </legend>

                    <label class="block-label  selection-button-radio" data-target="do-you-need-an-interpreter-in-court-yes">
                      <input type="radio" name="doYouNeedAnInterpreterInCourt" value="Yes"> Yes<span class="visually-hidden">, I need an interpreter in court</span>
                    </label>

                    <label class="block-label  selection-button-radio">
                      <input type="radio" name="doYouNeedAnInterpreterInCourt" value="No"> No<span class="visually-hidden">, I don&rsquo;t need an interpreter in court</span>
                    </label>

                    <div class="panel  panel-border-narrow  js-hidden" id="do-you-need-an-interpreter-in-court-yes">
                      <label for="interpreter-in-court-language">
                        <span class="form-label">Which language?</span>
                        <span class="form-hint">You can include sign language</span>
                      </label>
                      <input class="form-control" id="interpreter-in-court-language" name="interpreterInCourtLanguage">
                    </div>

                  </fieldset>

                </div>

                <div class="form-group">

                  <fieldset>

                    <legend>
                      <span class="form-label">Do you disagree with the evidence in a witness statement sent to you?</span>
                    </legend>

                    <label class="block-label  selection-button-radio" data-target="do-you-disagree-with-the-evidence-in-a-witness-statement-sent-to-you-yes">
                      <input type="radio" name="doYouDisagreeWithTheEvidenceInAWitnessStatementSentToYou" value="Yes"> Yes<span class="visually-hidden">, I disagree with the evidence in the witness statement</span>
                    </label>

                    <label class="block-label  selection-button-radio">
                      <input type="radio" name="doYouDisagreeWithTheEvidenceInAWitnessStatementSentToYou" value="No"> No<span class="visually-hidden">, I don&rsquo;t disagree with the evidence in the witness statement</span>
                    </label>

                    <div class="panel  panel-border-narrow  js-hidden" id="do-you-disagree-with-the-evidence-in-a-witness-statement-sent-to-you-yes">
                      <label for="enter-the-name-of-the-witness-you-disagree-with">
                        <span class="form-label">Enter the name of the witness you disagree with</span>
                      </label>
                      <textarea class="form-control  form-control-3-4" id="enter-the-name-of-the-witness-you-disagree-with" name="enterTheNameOfTheWitnessYouDisagreeWith" cols="60" rows="3"></textarea>
                    </div>

                  </fieldset>

                </div>

                <div class="form-group">

                  <fieldset>

                    <legend>
                      <span class="form-label">Do you want to call a witness?</span>
                      <span class="form-hint">Someone who can give evidence in court supporting your case</span>
                    </legend>

                    <label class="block-label  selection-button-radio" data-target="do-you-want-to-call-a-witness-yes">
                      <input type="radio" name="doYouWantToCallAWitness" value="Yes"> Yes<span class="visually-hidden">, I want to call a witness</span>
                    </label>

                    <label class="block-label  selection-button-radio">
                      <input type="radio" name="doYouWantToCallAWitness" value="No"> No<span class="visually-hidden">, I don&rsquo;t want to call a witness</span>
                    </label>

                    <div class="panel  panel-border-narrow  js-hidden" id="do-you-want-to-call-a-witness-yes">
                      <label for="enter-the-name-address-and-date-of-birth-of-any-witness">
                        <span class="form-label">Enter the name, address and date of birth of any witness you want to call to support your case</span>
                      </label>
                      <textarea class="form-control  form-control-3-4" id="enter-the-name-address-and-date-of-birth-of-any-witness" name="enterTheNameAddressAndDateOfBirthOfAnyWitness" cols="60" rows="3"></textarea>
                    </div>

                  </fieldset>

                </div>

                <div class="form-group">

                  <fieldset>

                    <legend>
                      <span class="form-label">Does your witness need an interpreter in court?</span>
                    </legend>

                    <label class="block-label  selection-button-radio" data-target="does-your-witness-need-an-interpreter-in-court-yes">
                      <input type="radio" name="doesYourWitnessNeedAnInterpreterInCourt" value="Yes"> Yes<span class="visually-hidden">, my witness needs an interpreter in court</span>
                    </label>

                    <label class="block-label  selection-button-radio">
                      <input type="radio" name="doesYourWitnessNeedAnInterpreterInCourt" value="No"> No<span class="visually-hidden">, my witness does not need an interpreter in court</span>
                    </label>

                    <div class="panel  panel-border-narrow  js-hidden" id="does-your-witness-need-an-interpreter-in-court-yes">
                      <label for="your-witness-interpreter-language">
                        <span class="form-label">Which language?</span>
                        <span class="form-hint">You can include sign language</span>
                      </label>
                      <input class="form-control" id="your-witness-interpreter-language" name="yourWitnessInterpreterLanguage">
                    </div>

                  </fieldset>

                </div>

              </div>

            </fieldset>

          </div>

          <div class="form-group  form-group-related">
            <button class="button" type="submit">Save and continue</button>
          </div>

          <p><a href="/your-details">Back</a></p>

        </form>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
