
    <a class="link-back" href="{{back_link}}">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <div class="panel  panel-border-wide" role="note" aria-label="Information">
          <p>This is your chance to respond. Please note:</p>
          <ul class="list  list-bullet">
            <li>all evidence is in the notice sent to you</li>
            <li>if you plead guilty, we may reduce your fine</li>
          </ul>
        </div>

        <hr class="divider  divider-gutter-large" aria-hidden="true">

        <h2 class="heading-large">What you&rsquo;ve been charged with</h2>

        <h3 class="bold-small">Public service vehicle &ndash; passenger failing to produce a ticket</h3>

        <div class="font-xsmall">

          <h4 class="visually-hidden">Charge information</h4>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>

          <div class="js-text  js-hidden" id="text-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
          </div>

          <button class="link link-button" type="button" data-target="text-1" aria-controls="text-1">Show more</button>

        </div>

        <hr class="divider  divider-gutter-large" aria-hidden="true">

        <h2 class="heading-large">Enter your plea</h2>

        <form class="form" method="post" novalidate>

          <h3 class="heading-medium">How do you plead?</h3>

          <div class="form-group">

            <fieldset class="inline">

              <legend>
                <span class="visually-hidden">How do you plead?</span>
              </legend>

              <label class="block-label  selection-button-radio" data-target="plead-guilty">
                <input type="radio" name="howDoYouPlead" value="Guilty"><span class="visually-hidden"> I plead</span> Guilty
              </label>

              <label class="block-label  selection-button-radio" data-target="plead-not-guilty">
                <input type="radio" name="howDoYouPlead" value="Not guilty"><span class="visually-hidden"> I plead</span> Not guilty
              </label>

              <!-- Guilty -->
              <div class="panel  panel-border-narrow  js-hidden" id="plead-guilty">

                <p>You&rsquo;re declaring you committed the offence &ndash; you may get a penalty.</p>

                <div class="form-group">

                  <fieldset class="inline">

                    <legend>
                      <span class="form-label-bold">How would you like to complete your case?</span>
                    </legend>

                    <div class="form-group  form-group-compound">

                      <label class="block-label  selection-button-radio" data-target="attend-court-no">
                        <input name="howWouldYouLikeToCompleteYourCase" type="radio" value="Online &ndash; no need to attend court"> Online &ndash; no need to attend court
                      </label>

                      <div class="panel  panel-border-narrow  js-hidden" id="attend-court-no">

                        <div class="form-group">
                          <label for="attend-court-no-magistrates">
                            <span class="form-label-bold">Information for magistrates (optional)</span>
                            <span class="form-hint">They&rsquo;ll take what you say into account when considering a fine &ndash; for example, you can explain why you committed the offence or give background details</span>
                          </label>
                          <textarea class="form-control  form-control-3-4" id="attend-court-no-magistrates" name="attendCourtNoMagistrates" cols="60" rows="3"></textarea>
                        </div>

                      </div>

                    </div>

                    <div class="form-group">

                      <label class="block-label  selection-button-radio" data-target="attend-court-yes">
                        <input name="howWouldYouLikeToCompleteYourCase" type="radio" value="Attend court to plead guilty"> Attend court to plead guilty
                      </label>

                      <div class="panel  panel-border-narrow  js-hidden" id="attend-court-yes">

                        <div class="form-group">
                          <label for="attend-court-yes-magistrates">
                            <span class="form-label-bold">Provide advance information for magistrates (optional)</span>
                            <span class="form-hint">They&rsquo;ll take what you say into account when considering your case. For example, you can explain why you committed the offence or give background details</span>
                          </label>
                          <textarea class="form-control  form-control-3-4" id="attend-court-yes-magistrates" name="attendCourtYesMagistrates" cols="60" rows="3"></textarea>
                        </div>

                        <div class="form-group">

                          <fieldset>

                            <legend>
                              <span class="form-label-bold">Do you need an interpreter in court?</span>
                            </legend>

                            <label class="block-label  selection-button-radio" data-target="guilty-interpreter">
                              <input name="guiltyInterpreter" type="radio" value="Yes"> Yes<span class="visually-hidden">, I need an interpreter in court</span>
                            </label>

                            <label class="block-label  selection-button-radio">
                              <input name="guiltyInterpreter" type="radio" value="No"> No<span class="visually-hidden">, I don&rsquo;t need an interpreter in court</span>
                            </label>

                            <div class="panel  panel-border-narrow  js-hidden" id="guilty-interpreter">
                              <label for="guilty-interpreter-language">
                                <span class="form-label">Which language<Span class="visuallyhidden"> for your interpreter</span>?</span>
                                <span class="form-hint">You can include sign language<span class="visually-hidden"> for your interpreter</span></span>
                              </label>
                              <input class="form-control" id="guilty-interpreter-language" name="guiltyInterpreterLanguage" type="text">
                            </div>

                          </fieldset>

                        </div>

                      </div>

                    </div>

                  </fieldset>

                </div>

              </div>

              <!-- Not guilty -->
              <div class="panel  panel-border-narrow  js-hidden" id="plead-not-guilty">

                <p>You&rsquo;re declaring you didn&rsquo;t commit the offence so you&rsquo;ll need to present your evidence in court.</p>

                <div class="form-group">
                  <label for="why-not-guilty">
                    <span class="form-label-bold">Why do you believe you&rsquo;re not guilty?</span>
                  </label>
                  <textarea class="form-control  form-control-3-4" id="why-not-guilty" name="whyNotGuilty" cols="60" rows="3"></textarea>
                </div>

                <div class="form-group">

                  <fieldset>

                    <legend>
                      <span class="form-label-bold">Do you need an interpreter in court?</span>
                    </legend>

                    <label class="block-label  selection-button-radio" data-target="not-guilty-interpreter">
                      <input name="notGuiltyInterpreter" type="radio" value="Yes"> Yes<span class="visually-hidden">, I need an interpreter in court</span>
                    </label>

                    <label class="block-label  selection-button-radio">
                      <input name="notGuiltyInterpreter" type="radio" value="No"> No<span class="visually-hidden">, I don&rsquo;t need an interpreter in court</span>
                    </label>

                    <div class="panel  panel-border-narrow  js-hidden" id="not-guilty-interpreter">
                      <label for="not-guilty-interpreter-language">
                        <span class="form-label">Which language<Span class="visuallyhidden"> for your interpreter</span>?</span>
                        <span class="form-hint">You can include sign language<span class="visually-hidden"> for your interpreter</span></span>
                      </label>
                      <input class="form-control" id="not-guilty-interpreter-language" name="notGuiltyInterpreterLanguage" type="text">
                    </div>

                  </fieldset>

                </div>

                <h3 class="heading-medium">Witnesses</h3>

                <div class="form-group">

                  <fieldset>

                    <legend>
                      <span class="form-label-bold">Do you agree with any evidence in witness statements sent in your notice?</span>
                    </legend>

                    <label class="block-label  selection-button-radio">
                      <input name="agreeEvidence" type="radio" value="Yes"> Yes<span class="visually-hidden">, I agree with the evidence in the witness statement sent to me</span>
                    </label>

                    <label class="block-label  selection-button-radio" data-target="disagree-evidence">
                      <input name="agreeEvidence" type="radio" value="No"> No<span class="visually-hidden">, I disagree with the evidence in the witness statement sent to me</span>
                    </label>

                    <div class="panel  panel-border-narrow  js-hidden" id="disagree-evidence">
                      <label for="disagree-details">
                        <span class="form-label">Enter the name of the witness and what you disagree with</span>
                      </label>
                      <textarea class="form-control  form-control-3-4" id="disagree-details" name="disagreeDetails" cols="60" rows="3"></textarea>
                    </div>

                  </fieldset>

                </div>

                <div class="form-group">

                  <fieldset>

                    <legend>
                      <span class="form-label-bold">Do you want to call your own witness?</span>
                      <span class="form-hint">Someone who can give evidence in court supporting your case</span>
                    </legend>

                    <label class="block-label  selection-button-radio" data-target="call-own-witness">
                      <input name="callOwnWitness" type="radio" value="Yes"> Yes<span class="visually-hidden">, I want to call my own witness</span>
                    </label>

                    <label class="block-label  selection-button-radio">
                      <input name="callOwnWitness" type="radio" value="No"> No<span class="visually-hidden">, I don&rsquo;t want to call my own witness</span>
                    </label>

                    <div class="panel  panel-border-narrow  js-hidden" id="call-own-witness">

                      <div class="form-group">
                        <label for="own-witness-details">
                          <span class="form-label">Enter name, address and date of birth of any witness you want to call</span>
                        </label>
                        <textarea class="form-control  form-control-3-4" id="own-witness-details" name="ownWitnessDetails" cols="60" rows="3"></textarea>
                      </div>

                      <div class="form-group">

                        <fieldset>

                          <legend>
                            <span class="form-label">Does your witness need an interpreter in court?</span>
                          </legend>

                          <label class="block-label  selection-button-radio" data-target="own-witness-interpreter">
                            <input name="ownWitnessInterpreter" type="radio" value="Yes"> Yes<span class="visually-hidden">, my witness needs an interpreter in court</span>
                          </label>

                          <label class="block-label  selection-button-radio">
                            <input name="ownWitnessInterpreter" type="radio" value="No"> No<span class="visually-hidden">, my witness does not need an interpreter in court</span>
                          </label>

                          <div class="panel  panel-border-narrow  js-hidden" id="own-witness-interpreter">
                            <label for="own-witness-interpreter-language">
                              <span class="form-label">Which language<Span class="visuallyhidden"> for your witness interpreter</span>?</span>
                              <span class="form-hint">You can include sign language<span class="visually-hidden"> for your witness interpreter</span></span>
                            </label>
                            <input class="form-control" id="own-witness-interpreter-language" name="ownWitneInterpreterLanguage" type="text">
                          </div>

                        </fieldset>

                      </div>

                    </div>

                  </fieldset>

                </div>

              </div>

            </fieldset>

          </div>

          <div class="form-group  form-group-related">
            <button class="button" type="submit">Continue</button>
          </div>

          <p><a href="{{back_link}}">Back</a></p>

        </form>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
