
    <a class="link-back" href="/your-details">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <div class="panel  panel-border-narrow">
          <p>This is your opportunity to respond to the court. Please remember:</p>
          <ul class="list  list-bullet">
            <li>each offence may carry a fine</li>
            <li>if you plead guilty, we may reduce your fine</li>
          </ul>
        </div>

        <hr class="divider  divider-gutter-large" aria-hidden="true">

        <h2 class="heading-large">Details of charge</h2>

        <h3 class="heading-medium">Passenger failing to produce a ticket</h3>

        <details class="details">
          <summary><span class="summary">View charge information</span></summary>
          <div class="panel  panel-border-narrow">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </details>

        <hr class="divider  divider-gutter-large" aria-hidden="true">

        <h2 class="heading-large">Enter your plea</h2>

        <form class="form" method="post" novalidate>

          <h3 class="heading-medium">How do you plead?</h3>

          <div class="form-group">

            <fieldset class="inline">

              <legend class="visually-hidden">How do you plead?</legend>

              <label class="block-label  selection-button-radio" data-target="plead-guilty">
                <input type="radio" name="howDoYouPlead" value="Guilty"><span class="visually-hidden"> I plead</span> Guilty
              </label>

              <label class="block-label  selection-button-radio" data-target="plead-not-guilty">
                <input type="radio" name="howDoYouPlead" value="Not guilty"><span class="visually-hidden"> I plead</span> Not guilty
              </label>

              <!-- Guilty -->
              <div class="panel  panel-border-narrow  js-hidden" id="plead-guilty">

                <h4 class="heading-medium">How would you like to complete your case?</h4>

                <div class="form-group">

                  <fieldset class="inline">

                    <legend class="visually-hidden">How would you like to complete your case?</legend>

                    <div class="form-group  form-group-compound">

                      <label class="block-label  selection-button-radio" data-target="online-and-by-post-no-need-to-attend-court">
                        <input type="radio" name="howWouldYouLikeToCompleteYourCase" value="Online and by post &ndash; no need to attend court"> Online and by post &ndash; no need to attend court
                      </label>

                      <div class="panel  panel-border-narrow  js-hidden" id="online-and-by-post-no-need-to-attend-court">
                        <p>We&rsquo;ll contact you about the outcome of your case</p>
                      </div>

                    </div>

                    <div class="form-group">

                      <label class="block-label  selection-button-radio" data-target="attend-court-to-plead-guilty">
                        <input type="radio" name="howWouldYouLikeToCompleteYourCase" value="Attend court to plead guilty"> Attend court to plead guilty
                      </label>

                      <div class="panel  panel-border-narrow  js-hidden" id="attend-court-to-plead-guilty">
                        <label for="provide-advance-information-for-magistrates">
                          <span class="form-label">Provide advance information for magistrates (optional)</span>
                          <span class="form-hint">They&rsquo;ll take what you say into account when considering your case. You can explain why you committed the offence or give background details, for example.</span>
                        </label>
                        <textarea class="form-control  form-control-3-4" id="provide-advance-information-for-magistrates" name="provideAdvanceInformationForMagistrates" rows="3" cols="60"></textarea>
                      </div>

                    </div>

                  </fieldset>

                </div>

              </div>

              <!-- Not guilty -->
              <div class="panel  panel-border-narrow  js-hidden" id="plead-not-guilty">

                <h3 class="heading-medium">You&rsquo;ll need to attend court</h3>

                <p>You&rsquo;re declaring you didn&rsquo;t commit the offence so you&rsquo;ll need to presentyour evidence in court.</p>

                <div class="form-group">
                  <label for="why-do-you-believe-you-are-not-guilty">
                    <span class="form-label">Why do you believe you&rsquo;re not guilty?</span>
                  </label>
                  <textarea class="form-control  form-control-3-4" id="why-do-you-believe-you-are-not-guilty" name="whyDoYouBelieveYouAreNotGuilty" cols="60" rows="3"></textarea>
                </div>

                <div class="form-group">

                  <fieldset>

                    <legend>
                      <span class="form-label">Do you need an interpreter in court?</span>
                    </legend>

                    <label class="block-label  selection-button-radio" data-target="do-you-need-an-interpreter-in-court">
                      <input name="doYouNeedAnInterpreterInCourt" type="radio" value="Yes"> Yes<span class="visually-hidden">, I need an interpreter in court</span>
                    </label>

                    <label class="block-label  selection-button-radio">
                      <input name="doYouNeedAnInterpreterInCourt" type="radio" value="No"> No<span class="visually-hidden">, I don&rsquo;t need an interpreter in court</span>
                    </label>

                    <div class="panel  panel-border-narrow  js-hidden" id="do-you-need-an-interpreter-in-court">
                      <label for="interpreter-in-court-language">
                        <span class="form-label">Which language<Span class="visuallyhidden"> for your interpreter</span>?</span>
                        <span class="form-hint">You can include sign language<span class="visually-hidden"> for your interpreter</span></span>
                      </label>
                      <input class="form-control" id="interpreter-in-court-language" name="interpreterInCourtLanguage">
                    </div>

                  </fieldset>

                </div>

                <h3 class="heading-medium">Witnesses</h3>

                <div class="form-group">

                  <fieldset>

                    <legend>
                      <span class="form-label">Do you agree with any evidence in any witness statements sent in your notice?</span>
                    </legend>

                    <label class="block-label  selection-button-radio">
                      <input name="doYouAgreeWithAnyEvidenceInAnyWitnessStatementSentToYou" type="radio" value="Yes"> Yes<span class="visually-hidden">, I agree with the evidence in the witness statement sent to me</span>
                    </label>

                    <label class="block-label  selection-button-radio" data-target="do-you-agree-with-any-evidence-in-any-witness-statement-sent-to-you">
                      <input name="doYouAgreeWithAnyEvidenceInAnyWitnessStatementSentToYou" type="radio" value="No"> No<span class="visually-hidden">, I disagree with the evidence in the witness statement sent to me</span>
                    </label>

                    <div class="panel  panel-border-narrow  js-hidden" id="do-you-agree-with-any-evidence-in-any-witness-statement-sent-to-you">
                      <label for="enter-the-name-of-the-witness-and-what-you-disagree-with">
                        <span class="form-label">Enter the name of the witness and what you disagree with</span>
                      </label>
                      <textarea class="form-control  form-control-3-4" id="enter-the-name-of-the-witness-and-what-you-disagree-with" name="enterTheNameOfTheWitnessAndWhatYouDisagreeWith" cols="60" rows="3"></textarea>
                    </div>

                  </fieldset>

                </div>

                <div class="form-group">

                  <fieldset>

                    <legend>
                      <span class="form-label">Do you want to call your own witness?</span>
                      <span class="form-hint">Someone who can give evidence in court supporting your case</span>
                    </legend>

                    <label class="block-label  selection-button-radio" data-target="do-you-want-to-call-your-own-witness">
                      <input type="radio" name="doYouWantToCallYourOwnWitness" value="Yes"> Yes<span class="visually-hidden">, I want to call my own witness</span>
                    </label>

                    <label class="block-label  selection-button-radio">
                      <input type="radio" name="doYouWantToCallYourOwnWitness" value="No"> No<span class="visually-hidden">, I don&rsquo;t want to call my own witness</span>
                    </label>

                    <div class="panel  panel-border-narrow  js-hidden" id="do-you-want-to-call-your-own-witness">

                      <div class="form-group">
                        <label for="enter-the-name-address-and-date-of-birth-of-any-witness">
                          <span class="form-label">Enter the name, address and date of birth of any witness you want to call to support your case</span>
                        </label>
                        <textarea class="form-control  form-control-3-4" id="enter-the-name-address-and-date-of-birth-of-any-witness" name="enterTheNameAddressAndDateOfBirthOfAnyWitness" cols="60" rows="3"></textarea>
                      </div>

                      <div class="form-group">

                        <fieldset>

                          <legend>
                            <span class="form-label">Does your witness need an interpreter in court?</span>
                          </legend>

                          <label class="block-label  selection-button-radio" data-target="does-your-witness-need-an-interpreter-in-court">
                            <input name="doesYourWitnessNeedAnInterpreterInCourt" type="radio" value="Yes"> Yes<span class="visually-hidden">, my witness needs an interpreter in court</span>
                          </label>

                          <label class="block-label  selection-button-radio">
                            <input name="doesYourWitnessNeedAnInterpreterInCourt" type="radio" value="No"> No<span class="visually-hidden">, my witness does not need an interpreter in court</span>
                          </label>

                          <div class="panel  panel-border-narrow  js-hidden" id="does-your-witness-need-an-interpreter-in-court">
                            <label for="your-witness-interpreter-language">
                              <span class="form-label">Which language<Span class="visuallyhidden"> for your witness interpreter</span>?</span>
                              <span class="form-hint">You can include sign language<span class="visually-hidden"> for your witness interpreter</span></span>
                            </label>
                            <input class="form-control" id="your-witness-interpreter-language" name="yourWitnessInterpreterLanguage">
                          </div>

                        </fieldset>

                      </div>

                    </div>

                  </fieldset>

                </div>

              </div>

            </fieldset>

          </div>

          <div class="form-group  form-group-related">
            <button class="button" type="submit">Continue</button>
          </div>

          <p><a href="/your-details">Back</a></p>

        </form>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
