
    <a class="link-back" href="/your-details">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <p class="lede">Review your information before making your plea.</p>

        <section aria-labelledby="your-plea">

          <div class="summary">

            <h2 class="heading-medium" id="your-plea">Your plea</h2>

            <dl>
              <dt class="summary-title">Plea</dt>
              <dd class="summary-body">Guilty</dd>
              <dt class="summary-title">Accepted automated fixed penalty</dt>
              <dd class="summary-body">Yes</dd>
            </dl>

            <p class="summary-action"><a href="/">Change<span class="visually-hidden"> answers for &ldquo;Your plea&rdquo;.</span></a></p>

          </div>

        </section>

        <hr aria-hidden="true">

        <section aria-labelledby="your-automated-standard-penalty">

          <h2 class="heading-medium" id="your-automated-standard-penalty">Your automated standard penalty</h2>

          <div class="summary">

            <dl>
              <dt class="summary-title">Fine</dt>
              <dd class="summary-body">&pound;40.00</dd>
              <dt class="summary-title">Compensation</dt>
              <dd class="summary-body">&pound;1.50</dd>
              <dt class="summary-title">Victim surcharge</dt>
              <dd class="summary-body">&pound;20.00</dd>
              <dt class="summary-title">Costs</dt>
              <dd class="summary-body">&pound;80.00</dd>
              <dt class="summary-title">Total<span class="visually-hidde"> standard penalty</span></dt>
              <dd class="summary-body">&pound;141.50</dd>
            </dl>

          </div>

        </section>

        <hr aria-hidden="true">

        <details>

          <summary><span class="summary">How would this compare to fine imposed by a magistrate?</span></summary>

          <div class="panel  panel-border-narrow">
            <p>The fine for each offence, if determined by a magistrate, would be calculated based on a percentage (usually between 50&#37; and 200&#37;) of your weekly income, up to a maximum level allowed for the offence. The total penalty would also include the costs and compensation claimed by the prosecutor and a victim fund surcharge (10&#37; of the total fine calculated).</p>
            <p>If you have a low income (For example, you are in receipt of state benefits), the value of the fine determined by a magistrate may be lower that the Standard Penalty offered</p>
          </div>

        </details>

        <form class="form" method="post" novalidate>

          <h2 class="heading-large">Declaration</h2>

          <span>I confirm that:</span>

          <ul class="list  list-bullet">
            <li>I&rsquo;ve read and understand the charges agaist me</li>
            <li>I&rsquo;m the person named in the Single Justice Procedure notice</li>
            <li>the facts I&rsquo;ve given are correct as far as I know</li>
          </ul>

          <p class="notice">
            <i class="icon  icon-important"><span class="visually-hidden">Warning</span></i>
            <strong class="bold-small">It is a offence to make a false statement or to deliberately fail to disclose any relevant facts.</strong>
          </p>

          <div class="form-group">
            <label class="block-label  selection-button-checkbox">
              <input name="confirmDeclaration" type="checkbox" value="I confirm, I have read and understand the charges against me"> I confirm<span class="visually-hidden">, I have read and understand the charges against me</span>
            </label>
          </div>

          <div class="form-group  form-group-related">
            <button class="button" type="submit">Accept and continue</button>
          </div>

          <p><a href="/your-details">Back</a></p>

        </form>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
