
    <a class="link-back" href="/your-details">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <p class="lede">Review your information before making your plea.</p>

        <!-- summary -->
        <div class="summary">

          <h2 class="heading-medium">Your plea</h2>

          <table class="table">
            <tr>
              <th class="summary-title">Plea</th>
              <td class="summary-body">Guilty</td>
            </tr>
            <tr>
              <th class="summary-title">Accepted automated fixed penalty</th>
              <td class="summary-body">Yes</td>
            </tr>
          </table>

          <a class="summary-action" href="/">Change<span class="visually-hidden"> answers for &rsquo;Your plea&lsquo;</span></a>

        </div>
        <!-- end -->

        <hr>

        <!-- summary -->
        <div class="summary">

          <h2 class="heading-medium">Your automated standard penalty</h2>

          <table class="table">

            <tfoot>
              <tr>
                <th class="summary-title"><b>Total</b></th>
                <td class="summary-body"><b>&pound;141.50</b></td>
              </tr>
            </tfoot>

            <tbody>
              <tr>
                <th class="summary-title">Fine</th>
                <td class="summary-body">&pound;40.00</td>
              </tr>
              <tr>
                <th class="summary-title">Compensation</th>
                <td class="summary-body">&pound;1.50</td>
              </tr>
              <tr>
                <th class="summary-title">Victim surcharge</th>
                <td class="summary-body">&pound;20.00</td>
              </tr>
              <tr>
                <th class="summary-title">Costs</th>
                <td class="summary-body">&pound;80.00</td>
              </tr>
            </tbody>

          </table>

        </div>
        <!-- end -->

        <hr>

        <details>
          <summary><span class="summary">How would this compare to fine imposed by a magistrate?</span></summary>
          <div class="panel  panel-border-narrow">
            <p>The fine for each offence, if determined by a magistrate, would be calculated based on a percentage (usually between 50&#37; and 200&#37;) of your weekly income, up to a maximum level allowed for the offence. The total penalty would also include the costs and compensation claimed by the prosecutor and a victim fund surcharge (10&#37; of the total fine calculated).</p>
            <p>If you have a low income (For example, you are in receipt of state benefits), the value of the fine determined by a magistrate may be lower that the Standard Penalty offered</p>
          </div>
        </details>

        <form class="form" method="post" novalidate>

          <h2 class="heading-large">Declaration</h2>

          <span>I confirm that:</span>

          <ul class="list  list-bullet">
            <li>I&rsquo;ve read and understand the charges agaist me</li>
            <li>I&rsquo;m the person named in the Single Justice Procedure notice</li>
            <li>the facts I&rsquo;ve given are correct as far as I know</li>
          </ul>

          <p class="notice">
            <i class="icon  icon-important"><span class="visually-hidden">Warning</span></i>
            <strong class="bold-small">It is a offence to make a false statement or to deliberately fail to disclose any relevant facts.</strong>
          </p>

          <div class="form-group">
            <label class="block-label  selection-button-checkbox">
              <input name="confirmDeclaration" type="checkbox" value="I confirm, I have read and understand the charges against me"> I confirm<span class="visually-hidden">, I have read and understand the charges against me</span>
            </label>
          </div>

          <div class="form-group  form-group-related">
            <button class="button" type="submit">Accept and continue</button>
          </div>

          <p><a href="/your-details">Back</a></p>

        </form>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
