
    <a class="link-back" href="/your-details">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <div class="summary">

          <h2 class="heading-medium">Your plea</h2>

          <dl>
            <dt class="summary-title">Plea</dt>
            <dd class="summary-body">Guilty</dd>
          </dl>

          <p class="summary-action"><a href="/your-plea">Change<span class="visually-hidden"> answers for &ldquo;Your plea&rdquo;.</span></a></p>

        </div>

        <hr aria-hidden="true">

        <div class="summary">

          <h2 class="heading-medium">Penalty</h2>

          <dl>
            <dt class="summary-title">Accepted fixed penalty</dt>
            <dd class="summary-body">Yes</dd>
          </dl>

          <h3 class="heading-small">Details</h3>

          <dl>
            <dt class="summary-title">Fine</dt>
            <dd class="summary-body">&pound;40.00</dd>
            <dt class="summary-title">Compensation</dt>
            <dd class="summary-body">&pound;1.50</dd>
            <dt class="summary-title">Victim surcharge</dt>
            <dd class="summary-body">&pound;20.00</dd>
            <dt class="summary-title">Costs</dt>
            <dd class="summary-body">&pound;80.00</dd>
            <dt class="summary-title"><b>Total<span class="visually-hidden"> fixed penalty</span></b></dt>
            <dd class="summary-body"><b>&pound;141.50</b></dd>
          </dl>

          <p class="summary-action"><a href="/">Change<span class="visually-hidden"> answers for &ldquo;Penalty&rdquo;.</span></a></p>

        </div>

        <hr aria-hidden="true">

        <details>

          <summary><span class="summary">How would this compare to a fine calculated by a magistrate?</span></summary>

          <div class="panel  panel-border-narrow">
            <p>A magistrate calculates your fine based on a percentage of your weekly income (usually between 50&#37; and 200&#37;). There is however, a maximum fine for each offence.</p>
            <p>If you&rsquo;re on a low income (for example, on benefits), your fine may be lower than the fixed penalty you were offered.</p>
          </div>

        </details>

        <div class="button-actions">
          <p><a class="button" href="/declaration">Confirm and continue</a></p>
        </div>

        <p><a href="/your-plea">Back</a></p>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
