
    {{>breadcrumb}}


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <p class="lede">Use this service to plead guilty or not guilty to an offence.</p>

        <span>You must be either:</span>
        <ul class="list  list-bullet">
          <li>the person charged with the offence</li>
          <li>an official representative of the company charged with the offence</li>
        </ul>

        <span>To start your plea, select who sent you a notice:</span>
        <ul class="list  list-bullet">
          <li><a href="/">the police (traffic offence)</a></li>
          <li><a href="/">Transport for London</a></li>
        </ul>

        <p><a class="button  button-start" href="/your-case">Start now</a></p>

        <h2 class="heading-medium">Before you start</h2>

        <span>To use this service you need:</span>

        <ul class="list  list-bullet">
          <li>the Single Justice Procedure notice sent to you</li>
          <li>your National Insurance number</li>
          <li>details of your income</li>
          <li>details of your outgoings, for example, rent or mortgage, household bills</li>
        </ul>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
