
    <div class="breadcrumbs">
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/">Crime, justice and the law</a></li>
        <li><a href="/">Courts, sentancing and tribunals</a></li>
        <li>Make a plea</li>
      </ol>
    </div>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <p class="lede">Use this service to plead guilty or not guilty to offences with which you have been charged.</p>

        <span>You must be either:</span>

        <ul class="list list-bullet">
          <li>the person charged with the offence</li>
          <li>an official representative of the company charged with the offence</li>
        </ul>

        <p><a class="button button-start" href="/your-case">Start now</a></p>

        <h2 class="heading-medium">Before you start</h2>

        <span>To use this service you need:</span>

        <ul class="list list-bullet">
          <li>the SJP notice sent to you</li>
          <li>your National Insurance number</li>
          <li>details of your income</li>
          <li>details of your outgoings, for example, rent or mortgage, household bills</li>
        </ul>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
