
    {{>breadcrumb}}


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <p class="lede">Use this service to plead guilty or not guilty online.</p>

        <span>You must be either:</span>
        <ul class="list  list-bullet">
          <li>the person charged with the offence</li>
          <li>an official representative of the company charged with the offence</li>
        </ul>

        <form class="form" method="post" novalidate>

          <div class="form-group">

            <fieldset>

              <legend>
                <span class="form-label-bold">Who sent you a notice?</span>
              </legend>

              <label class="block-label  selection-button-radio">
                <input name="whoSentYouANotice" type="radio" value="The police"> The police (traffic offence)
              </label>

              <label class="block-label  selection-button-radio">
                <input name="whoSentYouANotice" type="radio" value="Transport for London"> Transport for London
              </label>

            </fieldset>

          </div>

          <div class="form-group">
            <button class="button  button-start" type="submit">Start now</button>
          </div>

        </form>

        <h2 class="heading-medium">Before you start</h2>

        <span>To use this service you need:</span>

        <ul class="list  list-bullet">
          <li>the Single Justice Procedure notice sent to you</li>
          <li>your National Insurance number</li>
          <li>details of your income</li>
          <li>details of your outgoings, for example, rent or mortgage, household bills</li>
        </ul>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
