
    <div class="grid-row">

      <div class="column-two-thirds">

        <div class="alert  alert--submitted">
          <h1 class="bold-large">{{{title}}}</h1>
          <p>Your case reference number is <br> <strong class="heading-medium">HDJ2123F</strong></p>
          <p>You will need to quote this if you contact the court.</p>
        </div>

        <h2 class="heading-medium">What happens next?</h2>

        <span>We&rsquo;ll:</span>
        <ul class="list  list-bullet">
          <li>email you a copy of your plea (<a href="/">you can also print it</a>)</li>
          <li>confirm the outcome of your case</li>
        </ul>

        <div class="button-actions">
          <a class="button" href="/pay-your-penalty">Continue to payment</a>
        </div>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
