
    <a class="link-back" href="/your-plea-has-been-submitted">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <h2 class="heading-medium">Select how you would like to pay</h2>

        <form class="form" method="post" novalidate>

          <div class="form-group">

            <fieldset>

              <legend class="visually-hidden">Select how you would like to pay</legend>

              <label class="block-label  selection-button-radio" data-target="pay-now">
                <input name="selectHowYouWouldLikeToPay" type="radio" value="Pay now"> Pay now
              </label>

              <div class="panel  panel-border-narrow  js-hidden" id="pay-now">

                <label class="block-label  selection-button-radio">
                  <input name="payBy" type="radio" value="Pay online by debit or credit card"> Pay online by debit or credit card
                </label>

                <label class="block-label  selection-button-radio">
                  <input name="payBy" type="radio" value="Pay by telephone"> Pay by telephone
                </label>

              </div>

              <label class="block-label  selection-button-radio" data-target="pay-later">
                <input name="selectHowYouWouldLikeToPay" type="radio" value="Pay later"> Pay later
              </label>

              <div class="panel  panel-border-narrow  js-hidden" id="pay-later">
                <p>You must provide additional financial information.</p>
              </div>

            </fieldset>

          </div>

          <div class="form-group  form-group-related">
            <button class="button" type="submit">Continue</button>
          </div>

          <p><a href="/your-plea-has-been-submitted">Back</a></p>

        </form>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
