
    <a class="link-back" href="/your-details">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <p class="lede">Review your information before making your plea.</p>

        <section aria-labelledby="your-plea-and-mitigation">

          <h2 class="heading-medium" id="your-plea-and-mitigation">Your plea and mitigation</h2>

          <div class="summary">

            <h3 class="heading-small" id="your-plea">Your plea</h3>

            <dl aria-labelledby="your-plea">
              <dt class="summary-title">Plea</dt>
              <dd class="summary-body">Guilty</dd>
              <dt class="summary-title">Plead guilty in court</dt>
              <dd class="summary-body">Yes</dd>
              <dt class="summary-title">Mitigation</dt>
              <dd class="summary-body">I did it!</dd>
            </dl>

            <p class="summary-action"><a href="/">Change<span class="visually-hidden"> answers for &ldquo;Your plea&rdquo;.</span></a></p>

          </div>

        </section>

        <hr aria-hidden="true">

        <section aria-labelledby="your-employment-and-income">

          <h2 class="heading-medium" id="your-employment-and-income">Your employment and income</h2>

          <div class="summary">

            <h3 class="heading-small" id="your-employment">Your employment</h3>

            <dl aria-labelledby="your-employment">
              <dt class="summary-title">You are</dt>
              <dd class="summary-body">Employed</dd>
              <dt class="summary-title">You get paid</dt>
              <dd class="summary-body">Weekly</dd>
              <dt class="summary-title">Total amount (after tax)</dt>
              <dd class="summary-body"><b>&pound;1000.00</b></dd>
            </dl>

            <p class="summary-action"><a href="/">Change<span class="visually-hidden"> answers for &ldquo;Your employment&rdquo;.</span></a></p>

          </div>

        </section>

        <hr aria-hidden="true">

        <section aria-labelledby="special-financial-circumstances">

          <h2 class="heading-medium" id="special-financial-circumstances">Special financial circumstances</h2>

          <div class="summary">

            <h3 class="heading-small" id="household-expenses">Household expenses</h3>

            <dl aria-labelledby="household-expenses">
              <dt class="summary-title">Other contributors to household bills</dt>
              <dd class="summary-body">Yes</dd>
              <dt class="summary-title">Amount<span class="visually-hidden"> for &ldquo;Household expenses&rdquo;.</span></dt>
              <dd class="summary-body"><b>&pound;40.00</b></dd>
            </dl>

            <p class="summary-action"><a href="/">Change<span class="visually-hidden"> answers for &ldquo;Household expenses&rdquo;.</span></a></p>

          </div>

          <div class="summary">

            <h3 class="heading-small" id="other-expenses">Other expenses</h3>

            <dl aria-labelledby="other-expenses">
              <dt class="summary-title">Other expenses (not listed)</dt>
              <dd class="summary-body">None</dd>
              <dt class="summary-title">Amount<span class="visually-hidden"> for &ldquo;Household expenses&rdquo;.</span></dt>
              <dd class="summary-body"><b>&pound;70.00</b></dd>
            </dl>

            <p class="summary-action"><a href="/">Change<span class="visually-hidden"> answers for &ldquo;Other expenses&rdquo;.</span></a></p>

          </div>

          <div class="summary">

            <h3 class="heading-small" id="total-income">Total income</h3>

            <dl aria-labelledby="total-income">
              <dt class="summary-title">Amount<span class="visually-hidden"> for &ldquo;Household expenses&rdquo; and &ldquo;Other expenses&rdquo;.</span></dt>
              <dd class="summary-body"><b>&pound;110.00</b></dd>
            </dl>

          </div>

        </section>

        <hr aria-hidden="true">

        <form class="form" method="post" novalidate>

          <h2 class="heading-large">Declaration</h2>

          <span>I confirm that:</span>

          <ul class="list  list-bullet">
            <li>I&rsquo;ve read and understand the charges agaist me</li>
            <li>I&rsquo;m the person named in the Single Justice Procedure notice</li>
            <li>the facts I&rsquo;ve given are correct as far as I know</li>
          </ul>

          <p class="notice">
            <i class="icon  icon-important"><span class="visually-hidden">Warning</span></i>
            <strong class="bold-small">It is a offence to make a false statement or to deliberately fail to disclose any relevant facts.</strong>
          </p>

          <div class="form-group">
            <label class="block-label  selection-button-checkbox">
              <input name="confirmDeclaration" value="" type="checkbox"> I confirm<span class="visually-hidden">, I have read and understand the charges against me</span>
            </label>
          </div>

          <div class="form-group  form-group-related">
            <button class="button" type="submit">Accept and continue</button>
          </div>

          <p><a href="/your-details">Back</a></p>

        </form>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
