
    <a class="link-back" href="{{back_link}}">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <form class="form" method="post" novalidate>

          <div class="form-group  form-group-compound">
            <label for="reference-number">
              <span class="form-label-bold">Case or Unique Reference Number</span>
            </label>
            <input class="form-control" id="reference-number" name="referenceNumber" type="text">
          </div>

          <details class="details">

            <summary><span class="summary">Where to find this on your notice</span></summary>

            <div class="panel  panel-border-narrow">
              <img class="img-responsive" src="/public/images/sjp-notice.png" srcset="/public/images/sjp-notice.png 1x, /public/images/sjp-notice@2x.png 2x" alt="You can find the case or unique reference number at the top of your notice opposite your address.">
            </div>

          </details>

          <div class="form-group">
            <label for="your-postcode">
              <span class="form-label-bold">Your postcode, as shown on your notice</span>
            </label>
            <input class="form-control  form-control-1-3" id="your-postcode" name="yourPostcode" type="text">
          </div>

          <div class="form-group  form-group-related">
            <button class="button" type="submit">Continue</button>
          </div>

          <p><a href="{{back_link}}">Back</a></p>

        </form>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
