
    <a class="link-back" href="/check-your-answers/guilty">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <p class="leadin">I confirm that:</p>

        <ul class="list  list-bullet">
          <li>I&rsquo;ve read and understand the charges against me</li>
          <li>I&rsquo;m the person named in the Single Justice Procedure notice</li>
          <li>the facts I&rsquo;ve given are correct as far as I know</li>
          <!-- show this bullet if consent to deduct from earnings or benefits <li>you may take any penalty from my earnings or benefits if I don&rsquo;t pay</li>-->
        </ul>

        <p class="notice  text">
          <i class="icon  icon-important"><span class="visually-hidden">Warning</span></i>
          <strong>You may be prosecuted if you make a false statement or deliberately don&rsquo;t declare all relevant facts</strong>
        </p>

        <form class="form" method="post" novalidate>

          <div class="form-group">
            <label class="block-label  selection-button-checkbox">
              <input name="confirmDeclaration" type="checkbox" value="I confirm, I have read and understand the charges against me"> I confirm<span class="visually-hidden">, I have read and understand the charges against me</span>
            </label>
          </div>

          <div class="form-group  form-group-related">
            <button class="button" type="submit">Submit</button>
          </div>

          <p><a href="/check-your-answers/guilty">Back</a></p>

        </form>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
