
    <a class="link-back" href="/">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <div class="panel  panel-border-wide" role="note" aria-label="Information">
          <p>A dependent child lives at home with you and must be both:</p>
          <ul class="list  list-bullet">
            <li>under 18</li>
            <li>at school or college (not at university or in higher education)</li>
          </ul>
        </div>

        <h2 class="heading-medium">Do you have any dependent children?</h2>

        <form class="form" method="post" novalidate>

          <div class="form-group">

            <fieldset class="inline">

              <legend class="visually-hidden">Do you have any dependent children?</legend>

              <label class="block-label  selection-button-radio" data-target="do-you-have-any-dependent-children">
                <input name="doYouHaveAnyDependentChildren" type="radio" value="Yes"> Yes<Span class="visually-hidden">, I have dependent children</span>
              </label>

              <label class="block-label  selection-button-radio">
                <input name="doYouHaveAnyDependentChildren" type="radio" value="No"> No<Span class="visually-hidden">, I don&rsquo;t have dependent children</span>
              </label>

            </fieldset>

            <div class="panel  panel-border-narrow  js-hidden" id="do-you-have-any-dependent-children">

              <fieldset>

                <legend>
                  <span class="form-label-bold">How many<span class="visually-hidden"> children do you have</span>?</span>
                </legend>

                <div class="form-group  form-group-compound">
                  <input class="form-control  form-control-1-8" id="children-under-5" name="childrenUnder5" type="number" maxlength="2">
                  <label><span class="visually-hidden">Children </span>Under 5</label>
                </div>

                <div class="form-group  form-group-compound">
                  <input class="form-control  form-control-1-8" id="children-under-5-to-10" name="childrenUnder5to10" type="number" maxlength="2">
                  <label><span class="visually-hidden">Children </span>5 to 10 years</label>
                </div>

                <div class="form-group  form-group-compound">
                  <input class="form-control  form-control-1-8" id="children-under-11-to-15" name="childrenUnder11to15" type="number" maxlength="2">
                  <label><span class="visually-hidden">Children </span> 11 to 15 years</label>
                </div>

                <div class="form-group">
                  <input class="form-control  form-control-1-8" id="children-under-16-to-18" name="childrenUnder16to18" type="number" maxlength="2">
                  <label><span class="visually-hidden">Children </span>16 to 18 years</label>
                </div>

              </fieldset>

            </div>

          </div>

          <div class="form-group  form-group-related">
            <button class="button" type="submit">Continue</button>
          </div>

          <p><a href="/">Back</a></p>

        </form>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
