
    <a class="link-back" href="/">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <div class="panel  panel-border-narrow">
          <p>Because you&rsquo;ve pleaded guilty, you must now tell us about your employment status. This will:</p>
          <ul class="list  list-bullet">
            <li>make sure your fine is based on your circumstances</li>
            <li>help to speed up the processing of your cases</li>
          </ul>
        </div>

        <h2 class="heading-medium">Your status</h2>

        <form class="form" method="post" novalidate>

          <div class="form-group">

            <fieldset>

              <legend class="visually-hidden">Your status</legend>

              <label class="block-label selection-button-radio">
                <input type="radio" name="yourEmployment" value="Employed"> Employed
              </label>

              <label class="block-label selection-button-radio">
                <input type="radio" name="yourEmployment" value="Employed and also receiving benefits"> Employed and also receiving benefits
              </label>

              <label class="block-label selection-button-radio">
                <input type="radio" name="yourEmployment" value="Self&ndash;employed"> Self&ndash;employed
              </label>

              <label class="block-label selection-button-radio">
                <input type="radio" name="yourEmployment" value="Self&ndash;employed and also receiving benefits"> Self&ndash;employed and also receiving benefits
              </label>

              <label class="block-label selection-button-radio">
                <input type="radio" name="yourEmployment" value="Unemployed"> Unemployed
              </label>

              <label class="block-label selection-button-radio">
                <input type="radio" name="yourEmployment" value="Unemployed and receiving out of work benefits"> Unemployed and receiving out of work benefits
              </label>

              <label class="block-label selection-button-radio" data-target="other-employment-status">
                <input type="radio" name="yourEmployment" value="Other"> Other <span class="visually-hidden">status</span>
              </label>

              <div class="panel  panel-border-narrow  js-hidden" id="other-employment-status">
                <label for="other-status">
                  <span class="form-label">Provide details</span>
                  <span class="form-hint">For example, student or retired</span>
                </label>
                <input class="form-control" id="other-status" name="otherStatus" type="text">
              </div>

            </fieldset>

          </div>

          <div class="form-group  form-group-related">
            <button class="button" type="submit">Save and continue</button>
          </div>

          <p><a href="/">Back</a></p>

        </form>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
