
    <a class="link-back" href="{{back_link}}">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <form class="form" method="post" novalidate>

          <h2 class="heading-medium">Benefits</h2>

          <div class="form-group">

            <fieldset class="inline">

              <legend>
                <span class="form-label">Do you receive any benefits?</span>
              </legend>

              <label class="block-label  selection-button-radio" data-target="receive-benefits">
                <input name="receiveBenefits" type="radio" value="Yes"> Yes<span class="visually-hidden">, I receive benefits</span>
              </label>

              <label class="block-label  selection-button-radio">
                <input name="receiveBenefits" type="radio" value="No"> No<span class="visually-hidden">, I don&rsquo;t receive benefits</span>
              </label>

            </fieldset>

            <div class="panel  panel-border-narrow  js-hidden" id="receive-benefits">

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label-bold">How often<span class="visually-hidden"> do you receive working&ndash;age benefits</span>?</span>
                  </legend>

                  <label class="block-label  selection-button-radio" data-target="benefits-weekly">
                    <input name="benefitsFrequency" type="radio" value="Weekly"> <span class="visually-hidden">I get benefits paid </span>Weekly
                  </label>

                  <div class="panel  panel-border-narrow  js-hidden" id="benefits-weekly">
                    <label for="benefits-weekly-amount">
                      <span class="form-label"><span class="visually-hidden">Weekly benefits</span> Amount</span>
                    </label>
                    <div class="form-currency">
                      <input class="form-control  form-control-1-4" id="benefits-weekly-amount" name="benefitsWeeklyAmount" type="number">
                    </div>
                  </div>

                  <label class="block-label  selection-button-radio" data-target="benefits-fortnightly">
                    <input name="benefitsFrequency" type="radio" value="Every 2 weeks"> <span class="visually-hidden">I get benefits paid </span>Every 2 weeks
                  </label>

                  <div class="panel  panel-border-narrow  js-hidden" id="benefits-fortnightly">
                    <label for="benefits-fortnightly-amount">
                      <span class="form-label"><span class="visually-hidden">Every 2 weeks benefits</span> Amount</span>
                    </label>
                    <div class="form-currency">
                      <input class="form-control  form-control-1-4" id="benefits-fortnightly-amount" name="benefitsFortnightlyAmount" type="number">
                    </div>
                  </div>

                  <label class="block-label  selection-button-radio" data-target="benefits-monthly">
                    <input name="benefitsFrequency" type="radio" value="Every 4 weeks"> <span class="visually-hidden">I get benefits paid </span>Every 4 weeks
                  </label>

                  <div class="panel  panel-border-narrow  js-hidden" id="benefits-monthly">
                    <label for="benefits-monthly-amount">
                      <span class="form-label"><span class="visually-hidden">Every 4 weeks benefits</span> Amount</span>
                    </label>
                    <div class="form-currency">
                      <input class="form-control  form-control-1-4" id="benefits-monthly-amount" name="benefitsMonthlyAmount" type="number">
                    </div>
                  </div>

                  <label class="block-label  selection-button-radio" data-target="benefits-other">
                    <input name="benefitsFrequency" type="radio" value="I get several benefits paid at different times">I get several benefits paid at different times
                  </label>

                  <div class="panel  panel-border-narrow  js-hidden" id="benefits-other">
                    <label for="benefits-other-amount">
                      <span class="form-label">Enter approximate weekly amount</span>
                    </label>
                    <div class="form-currency">
                      <input class="form-control  form-control-1-4" id="benefits-other-amount" name="benefitsOtherAmount" type="number">
                    </div>
                  </div>

                </fieldset>

              </div>

              <div class="form-group">

                <fieldset class="inline">

                  <legend>
                    <span class="form-label-bold">Do your benefits include Income Support, Jobseeker&rsquo;s Allowance, Employment Support Allowance or Universal Credit?</span>
                  </legend>

                  <label class="block-label  selection-button-radio">
                    <input name="benefitsInclude" type="radio" value="Yes"> Yes<span class="visually-hidden">, my benefits include Income Support, Jobseeker&rsquo;s Allowance, Employment Support Allowance or Universal Credit</span>
                  </label>

                  <label class="block-label  selection-button-radio">
                    <input name="benefitsInclude" type="radio" value="No"> No<span class="visually-hidden">, my benefits don&rsquo;t include Income Support, Jobseeker&rsquo;s Allowance, Employment Support Allowance or Universal Credit</span>
                  </label>

                </fieldset>

              </div>

              <div class="form-group">

                <fieldset class="inline">

                  <legend>
                    <span class="form-label-bold">Do you give consent for us to take a fine out of your benefits?</span>
                  </legend>

                  <label class="block-label  selection-button-radio">
                    <input name="benefitsConsent" type="radio" value="Yes"> Yes<span class="visually-hidden">, I give consent to take a fine out of my benefits</span>
                  </label>

                  <label class="block-label  selection-button-radio" data-target="benefits-consent">
                    <input name="benefitsConsent" type="radio" value="No"> No<span class="visually-hidden">, I don&rsquo;t give consent to take a fine out of my benefits</span>
                  </label>

                  <div class="panel  panel-border-narrow  js-hidden" id="benefits-consent">
                    <p>In certain circumstances, we can take a fine without your consent.</p>
                  </div>

                </fieldset>

              </div>

            </div>

          </div>

          <h2 class="heading-medium">State Pension</h2>

          <div class="form-group">

            <fieldset class="inline">

              <legend>
                <span class="form-label">Do you receive the State Pension?</span>
              </legend>

              <label class="block-label  selection-button-radio" data-target="receive-state-pension">
                <input name="receiveStatePension" type="radio" value="Yes"> Yes<span class="visually-hidden">, I receive the State Pension</span>
              </label>

              <label class="block-label  selection-button-radio">
                <input name="receiveStatePension" type="radio" value="No"> No<span class="visually-hidden">, I don&rsquo;t receive the State Pension</span>
              </label>

            </fieldset>

            <div class="panel  panel-border-narrow  js-hidden" id="receive-state-pension">

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label-bold">How often<span class="visually-hidden"> do you receive the State Pension</span>?</span>
                  </legend>

                  <label class="block-label  selection-button-radio" data-target="state-pension-weekly">
                    <input name="statePensionFrequency" type="radio" value="Weekly"> <span class="visually-hidden">I get the State Pension </span>Weekly
                  </label>

                  <div class="panel  panel-border-narrow  js-hidden" id="state-pension-weekly">
                    <label for="state-pension-weekly-amount">
                      <span class="form-label"><span class="visually-hidden">Weekly State Pension</span> Amount</span>
                    </label>
                    <div class="form-currency">
                      <input class="form-control  form-control-1-4" id="state-pension-weekly-amount" name="statePensionWeeklyAmount" type="number">
                    </div>
                  </div>

                  <label class="block-label  selection-button-radio" data-target="state-pension-fortnightly">
                    <input name="statePensionFrequency" type="radio" value="Every 2 weeks"> <span class="visually-hidden">I get the State Pension </span>Every 2 weeks
                  </label>

                  <div class="panel  panel-border-narrow  js-hidden" id="state-pension-fortnightly">
                    <label for="state-pension-fortnightly-amount">
                      <span class="form-label"><span class="visually-hidden">Every 2 weeks State Pension</span> Amount</span>
                    </label>
                    <div class="form-currency">
                      <input class="form-control  form-control-1-4" id="state-pension-fortnightly-amount" name="statePensionFortnightlyAmount" type="number">
                    </div>
                  </div>

                  <label class="block-label  selection-button-radio" data-target="state-pension-monthly">
                    <input name="statePensionFrequency" type="radio" value="Every 4 weeks"> <span class="visually-hidden">I get the State Pension </span>Every 4 weeks
                  </label>

                  <div class="panel  panel-border-narrow  js-hidden" id="state-pension-monthly">
                    <label for="state-pension-monthly-amount">
                      <span class="form-label"><span class="visually-hidden">Every 4 weeks State Pension</span> Amount</span>
                    </label>
                    <div class="form-currency">
                      <input class="form-control  form-control-1-4" id="state-pension-monthly-amount" name="statePensionMonthlyAmount" type="number">
                    </div>
                  </div>

                </fieldset>

              </div>

              <div class="form-group">

                <fieldset class="inline">

                  <legend>
                    <span class="form-label-bold">Do you get Pension Credit?</span>
                  </legend>

                  <label class="block-label  selection-button-radio" data-target="receive-pension-credit">
                    <input name="receivePensionCredit" type="radio" value="Yes"> Yes<span class="visually-hidden">, I receive Pension Credit</span>
                  </label>

                  <label class="block-label  selection-button-radio">
                    <input name="receivePensionCredit" type="radio" value="No"> No<span class="visually-hidden">, I don&rsquo;t receive Pension Credit</span>
                  </label>

                </fieldset>

                <div class="panel  panel-border-narrow  js-hidden" id="receive-pension-credit">

                  <div class="form-group">

                    <fieldset>

                      <legend>
                        <span class="form-label-bold">How often<span class="visually-hidden"> do you receive Pension Credit</span>?</span>
                      </legend>

                      <label class="block-label  selection-button-radio" data-target="pension-credit-weekly">
                        <input name="pensionCreditFrequency" type="radio" value="Weekly"> <span class="visually-hidden">I get Pension Credit </span>Weekly
                      </label>

                      <div class="panel  panel-border-narrow  js-hidden" id="pension-credit-weekly">
                        <label for="pension-credit-weekly-amount">
                          <span class="form-label"><span class="visually-hidden">Weekly Pension Credit</span> Amount</span>
                        </label>
                        <div class="form-currency">
                          <input class="form-control  form-control-1-4" id="pension-credit-weekly-amount" name="pensionCreditWeeklyAmount" type="number">
                        </div>
                      </div>

                      <label class="block-label  selection-button-radio" data-target="pension-credit-fortnightly">
                        <input name="pensionCreditFrequency" type="radio" value="Every 2 weeks"> <span class="visually-hidden">I get Pension Credit </span>Every 2 weeks
                      </label>

                      <div class="panel  panel-border-narrow  js-hidden" id="pension-credit-fortnightly">
                        <label for="pension-credit-fortnightly-amount">
                          <span class="form-label"><span class="visually-hidden">Every 2 weeks Pension Credit</span> Amount</span>
                        </label>
                        <div class="form-currency">
                          <input class="form-control  form-control-1-4" id="pension-credit-fortnightly-amount" name="pensionCreditFortnightlyAmount" type="number">
                        </div>
                      </div>

                      <label class="block-label  selection-button-radio" data-target="pension-credit-monthly">
                        <input name="pensionCreditFrequency" type="radio" value="Every 4 weeks"> <span class="visually-hidden">I get Pension Credit </span>Every 4 weeks
                      </label>

                      <div class="panel  panel-border-narrow  js-hidden" id="pension-credit-monthly">
                        <label for="pension-credit-monthly-amount">
                          <span class="form-label"><span class="visually-hidden">Every 4 weeks Pension Credit</span> Amount</span>
                        </label>
                        <div class="form-currency">
                          <input class="form-control  form-control-1-4" id="pension-credit-monthly-amount" name="pensionCreditMonthlyAmount" type="number">
                        </div>
                      </div>

                    </fieldset>

                  </div>

                </div>

              </div>

            </div>

          </div>

          <div class="form-group  form-group-related">
            <button class="button" type="submit">Continue</button>
          </div>

          <p><a href="{{back_link}}">Back</a></p>

        </form>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
