
    <a class="link-back" href="{{back_link}}">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <form class="form" method="post" novalidate>

          <h2 class="heading-medium">Are you employed or self&ndash;employed?</h2>

          <div class="form-group">

            <fieldset class="inline">

              <legend class="visually-hidden">Are you employed or self&ndash;employed?</legend>

              <div class="multiple-choice" data-target="employed">
                <input id="employed-yes" name="areYouEmployed" type="radio" value="Yes">
                <label for="employed-yes">Yes<span class="visually-hidden">, I am employed</span></label>
              </div>

              <div class="multiple-choice">
                <input id="employed-no" name="areYouEmployed" type="radio" value="No">
                <label for="employed-no">No<span class="visually-hidden">, I am not employed</span></label>
              </div>

            </fieldset>

            <div class="panel  panel-border-narrow  js-hidden" id="employed">

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label-bold">How often do you get paid?</span>
                  </legend>

                  <div class="multiple-choice" data-target="paid-weekly">
                    <input id="pay-weekly" name="paid" type="radio" value="Weekly">
                    <label for="pay-weekly"><span class="visually-hidden">I get paid </span>Weekly</label>
                  </div>

                  <div class="panel  panel-border-narrow  js-hidden" id="paid-weekly">
                    <label for="my-weekly-amount">
                      <span class="form-label"><span class="visually-hidden">My weekly </span>Amount (after tax deducted)</span>
                    </label>
                    <div class="form-currency">
                      <input class="form-control  form-control-1-4" id="my-weekly-amount" name="myWeeklyAmount" type="number">
                    </div>
                  </div>

                  <div class="multiple-choice" data-target="paid-every-2-weeks">
                    <input id="pay-every-2-weeks" name="paid" type="radio" value="Every 2 weeks">
                    <label for="pay-every-2-weeks"><span class="visually-hidden">I get paid </span>Every 2 weeks</label>
                  </div>

                  <div class="panel  panel-border-narrow  js-hidden" id="paid-every-2-weeks">
                    <label for="my-every-2-weeks-amount">
                      <span class="form-label"><span class="visually-hidden">My every 2 weeks </span>Amount (after tax deducted)</span>
                    </label>
                    <div class="form-currency">
                      <input class="form-control  form-control-1-4" id="my-every-2-weeks-amount" name="myEvery2WeeksAmount" type="number">
                    </div>
                  </div>

                  <div class="multiple-choice" data-target="paid-monthly">
                    <input id="pay-monthly" name="paid" type="radio" value="Monthly">
                    <label for="pay-monthly"><span class="visually-hidden">I get paid </span>Monthly</label>
                  </div>

                  <div class="panel  panel-border-narrow  js-hidden" id="paid-monthly">
                    <label for="my-monthly-amount">
                      <span class="form-label"><span class="visually-hidden">My monthly </span>Amount (after tax deducted)</span>
                    </label>
                    <div class="form-currency">
                      <input class="form-control  form-control-1-4" id="my-monthly-amount" name="myMonthlyAmount" type="number">
                    </div>
                  </div>

                </fieldset>

              </div>

            </div>

          </div>

          <h2 class="heading-medium">Do you have a partner who is employed or self&ndash;employed?</h2>

          <div class="form-group">

            <fieldset class="inline">

              <legend class="visually-hidden">Do you have a partner who is employed or self&ndash;employed?</legend>

              <div class="multiple-choice" data-target="partner-employed">
                <input id="partner-employed-yes" name="partnerEmployed" type="radio" value="Yes, I have a partner who is employed">
                <label for="partner-employed-yes">Yes<span class="visually-hidden">, I have a partner who is employed</span></label>
              </div>

              <div class="multiple-choice">
                <input id="partner-employed-no" name="partnerEmployed" type="radio" value="No, I don&rsquo;t have a partner who is employed">
                <label for="partner-employed-no">No<span class="visually-hidden">, I don&rsquo;t have a partner who is employed</span></label>
              </div>

            </fieldset>

            <div class="panel  panel-border-narrow  js-hidden" id="partner-employed">

              <div class="form-group">

                <fieldset>

                  <legend>
                    <span class="form-label-bold">How often do they get paid?</span>
                  </legend>

                  <div class="multiple-choice" data-target="partner-paid-weekly">
                    <input id="partner-pay-weekly" name="partnerPaid" type="radio" value="Weekly">
                    <label for="partner-pay-weekly"><span class="visually-hidden">They get paid </span>Weekly</label>
                  </div>

                  <div class="panel  panel-border-narrow  js-hidden" id="partner-paid-weekly">
                    <label for="weekly-earnings">
                      <span class="form-label"><span class="visually-hidden">My partners weekly </span>Amount (after tax deducted)</span>
                    </label>
                    <div class="form-currency">
                      <input class="form-control  form-control-1-4" id="weekly-earnings" name="weeklyEarnings" type="number">
                    </div>
                  </div>

                  <div class="multiple-choice" data-target="partner-paid-every-2-weeks">
                    <input id="partner-pay-every-2-weeks" name="partnerPaid" type="radio" value="Every 2 weeks">
                    <label for="partner-pay-every-2-weeks"><span class="visually-hidden">They get paid </span>Every 2 weeks</label>
                  </div>

                  <div class="panel  panel-border-narrow  js-hidden" id="partner-paid-every-2-weeks">
                    <label for="every-2-weeks-earnings">
                      <span class="form-label"><span class="visually-hidden">My partners every 2 weeks </span>Amount (after tax deducted)</span>
                    </label>
                    <div class="form-currency">
                      <input class="form-control  form-control-1-4" id="every-2-weeks-earnings" name="every2WeeksEarnings" type="number">
                    </div>
                  </div>

                  <div class="multiple-choice" data-target="partner-paid-monthly">
                    <input id="partner-pay-monthly" name="partnerPaid" type="radio" value="Monthly">
                    <label for="partner-pay-monthly"><span class="visually-hidden">They get paid </span>Monthly</label>
                  </div>

                  <div class="panel  panel-border-narrow  js-hidden" id="partner-paid-monthly">
                    <label for="monthly-earnings">
                      <span class="form-label"><span class="visually-hidden">My partners monthly </span>Amount (after tax deducted)</span>
                    </label>
                    <div class="form-currency">
                      <input class="form-control  form-control-1-4" id="monthly-earnings" name="monthlyEarnings" type="number">
                    </div>
                  </div>

                </fieldset>

              </div>

            </div>

          </div>

          <div class="form-group  form-group-related">
            <button class="button" type="submit">Continue</button>
          </div>

          <p><a href="{{back_link}}">Back</a></p>

        </form>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
