/*
Summary
*/

$module: "summary";

.#{$module} {
  position: relative;

  // Nested sub sections
  &-subsection {
    position: relative;
  }

  &-title,
  &-body {
    border: 0 none;
    vertical-align: top;
  }

  // Only if the title sits inside table body
  tbody {
    .#{$module}-title {
      font-weight: 400;
    }
  }

  &-body {
    padding-right: 0;
    text-align: right;
  }

  &-action {
    position: absolute;
    right: 0; top: 0;
  }

}
