
    <a class="link-back" href="/">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <div>
          <h2 class="heading-medium">If you think you shouldn&rsquo;t have been prosecuted</h2>
          <h3 class="heading-small">Contact Transport for London</h3>
          <p>Telephone: xxxx xxx xxxx (<abbr title="To Be Confirmed">TBC</abbr>) <br> Monday to Friday 7am to 10pm (<abbr title="To Be Confirmed">TBC</abbr>) <br> Saturday, 9am to 12pm (<abbr title="To Be Confirmed">TBC</abbr>)</p>
        </div>

        <div>
          <h2 class="heading-medium">Legal advice</h2>
          <p>You can get help from either:</p>
          <ul class="list list-bullet">
            <li><a href="http://www.lawsociety.org.uk/for-the-public/common-legal-issues/criminal" target="_blank">a solicitor <span class="visually-hidden">(opens in a new window)</span></a></li>
            <li><a href="http://www.citizensadvice.org.uk/law-and-courts/legal-system/taking-legal-action/do-you-need-legal-advice" target="_blank">Citizens Advice <span class="visually-hidden">(opens in a new window)</span></a></li>
          </ul>
        </div>

        <div>
          <h2 class="heading-medium">Help with this online service or the court process</h2>
          <h3 class="heading-small">Contact Lavender Hill Magistrates&rsquo; Court</h3>
          <p>Telephone: xxxx xxx xxxx (<abbr title="To Be Confirmed">TBC</abbr>) <br> Monday to Friday 7am to 10pm (<abbr title="To Be Confirmed">TBC</abbr>) <br> Saturday, 9am to 12pm (<abbr title="To Be Confirmed">TBC</abbr>)</p>
        </div>

        <div>
          <h2 class="heading-medium">Before you call</h2>
          <p>Make sure you have the Single Justice Procedure notice you were sent. You&rsquo;ll need to confirm details from this.</p>
        </div>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
