
    <a class="link-back" href="/your-employment-status">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <div class="panel  panel-border-narrow">
          <p>For this type of offence you&rsquo;ll usually have to pay a fine:</p>
          <ul class="list  list-bullet">
            <li>the court will decide your fine based on your finances and the seriousness of the offence</li>
            <li>your details will be stored securely by the court</li>
          </ul>
        </div>

        <h2 class="heading-large">Your income</h2>

        <form class="form" method="post" novalidate>

          <div class="form-group">

            <fieldset>

              <legend>
                <span class="form-label-bold">How often do you get paid?</span>
              </legend>

              <label class="block-label  selection-button-radio" data-target="how-often-do-you-get-paid-weekly">
                <input name="howOftenDoYouGetPaid" type="radio" value="Weekly"> Weekly
              </label>

                <div class="panel  panel-border-narrow  js-hidden" id="how-often-do-you-get-paid-weekly">
                  <label for="weekly-take-home-pay">
                    <span class="form-label">Weekly take home pay (after tax)</span>
                  </label>
                  <div class="form-currency">
                    <input class="form-control  form-control-1-4" id="weekly-take-home-pay" name="weeklyTakeHomePay" type="text">
                  </div>
                </div>

              <label class="block-label  selection-button-radio" data-target="how-often-do-you-get-paid-fortnightly">
                <input name="howOftenDoYouGetPaid" type="radio" value="Fortnightly"> Fortnightly
              </label>

                <div class="panel  panel-border-narrow  js-hidden" id="how-often-do-you-get-paid-fortnightly">
                  <label for="fortnightly-take-home-pay">
                    <span class="form-label">Fortnightly take home pay (after tax)</span>
                  </label>
                  <div class="form-currency">
                    <input class="form-control  form-control-1-4" id="fortnightly-take-home-pay" name="fortnightlyTakeHomePay" type="text">
                  </div>
                </div>

              <label class="block-label  selection-button-radio" data-target="how-often-do-you-get-paid-monthly">
                <input name="howOftenDoYouGetPaid" type="radio" value="Monthly"> Monthly
              </label>

                <div class="panel  panel-border-narrow  js-hidden" id="how-often-do-you-get-paid-monthly">
                  <label for="monthly-take-home-pay">
                    <span class="form-label">Monthly take home pay (after tax)</span>
                  </label>
                  <div class="form-currency">
                    <input class="form-control  form-control-1-4" id="monthly-take-home-pay" name="monthlyTakeHomePay" type="text">
                  </div>
                </div>

            </fieldset>

          </div>

          <div class="form-group">
            <label for="your-partners-income">
              <span class="form-label-bold">Your partner&rsquo;s income (including any benefits)</span>
              <span class="form-hint">Give weekly amount after tax deducted (TBC following MC100 meeting)</span>
            </label>
            <div class="form-currency">
              <input class="form-control  form-control-1-4" id="your-partners-income" name="yourPartnersIncome" type="text">
            </div>
          </div>

          <div class="form-group">
            <label for="your-savings">
              <span class="form-label-bold">Your savings</span>
              <span class="form-hint">TBC following MC100 meeting</span>
            </label>
            <div class="form-currency">
              <input class="form-control  form-control-1-4" id="your-savings" name="yourSavings" type="text">
            </div>
          </div>

          <div class="form-group  form-group-related">
            <button class="button" type="submit">Continue</button>
          </div>

          <p><a href="/your-employment-status">Back</a></p>

        </form>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
