
    <a class="link-back" href="/your-details">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <div class="panel  panel-border-wide" role="note" aria-label="Information">
          <p>Make sure all the information you&rsquo;ve given is correct. If it&rsquo;s false or misleading, you may be:</p>
          <ul class="list  list-bullet">
            <li>fined &pound;2,500</li>
            <li>sent to prison for 3 months</li>
          </ul>
        </div>

        <hr aria-hidden="true">

        <div class="summary">

          <h2 class="heading-medium" id="your-plea">Your plea</h2>

          <dl aria-labelledby="your-plea">
            <dt class="summary-title">Plea</dt>
            <dd class="summary-body">Guilty</dd>
            <dt class="summary-title">Plead guilty in court</dt>
            <dd class="summary-body">Yes</dd>
            <dt class="summary-title">Information for magistrates</dt>
            <dd class="summary-body">I did it!</dd>
          </dl>

          <p class="summary-action"><a href="/">Change<span class="visually-hidden"> answers for &ldquo;Your plea&rdquo;.</span></a></p>

        </div>

        <hr aria-hidden="true">

        <div class="summary">

          <h2 class="heading-medium" id="your-employment">Your employment and income</h2>

          <dl aria-labelledby="your-employment">
            <dt class="summary-title">You are</dt>
            <dd class="summary-body">Employed</dd>
            <dt class="summary-title">You get paid</dt>
            <dd class="summary-body">Weekly</dd>
            <dt class="summary-title">Weekly income (after tax)</dt>
            <dd class="summary-body"><b>&pound;1000.00</b></dd>
          </dl>

          <p class="summary-action"><a href="/">Change<span class="visually-hidden"> answers for &ldquo;Your employment and income&rdquo;.</span></a></p>

        </div>

        <hr aria-hidden="true">

        <div aria-labelledby="special-financial-circumstances">

          <h2 class="heading-medium" id="special-financial-circumstances">Special financial circumstances</h2>

          <div class="summary">

            <h3 class="heading-small" id="household-expenses">Household expenses</h3>

            <dl aria-labelledby="household-expenses">
              <dt class="summary-title">Other contributors to household bills</dt>
              <dd class="summary-body">Yes</dd>
              <dt class="summary-title">Amount<span class="visually-hidden"> for &ldquo;Household expenses&rdquo;.</span></dt>
              <dd class="summary-body">&pound;40.00</dd>
            </dl>

            <p class="summary-action"><a href="/">Change<span class="visually-hidden"> answers for &ldquo;Household expenses&rdquo;.</span></a></p>

          </div>

          <div class="summary">

            <h3 class="heading-small" id="other-expenses">Other expenses</h3>

            <dl aria-labelledby="other-expenses">
              <dt class="summary-title">Other expenses (not listed)</dt>
              <dd class="summary-body">None</dd>
              <dt class="summary-title">Amount<span class="visually-hidden"> for &ldquo;Household expenses&rdquo;.</span></dt>
              <dd class="summary-body">&pound;70.00</dd>
            </dl>

            <p class="summary-action"><a href="/">Change<span class="visually-hidden"> answers for &ldquo;Other expenses&rdquo;.</span></a></p>

          </div>

          <div class="summary">

            <h3 class="heading-small" id="total-income">Total income</h3>

            <dl aria-labelledby="total-income">
              <dt class="summary-title">Amount<span class="visually-hidden"> for &ldquo;Household expenses&rdquo; and &ldquo;Other expenses&rdquo;.</span></dt>
              <dd class="summary-body"><b>&pound;110.00</b></dd>
            </dl>

          </div>

        </div>

        <hr aria-hidden="true">

        <!--details class="details">
          <summary><span class="summary">How would this compare to a fixed penalty?</span></summary>
          <div class="panel  panel-border-narrow">
            <p>The fine for each offence, if determined by a magistrate, would be calculated based on a percentage (usually between 50&#37; and 200&#37;) of your weekly income, up to a maximum level allowed for the offence. The total penalty would also include the costs and compensation claimed by the prosecutor and a victim fund surcharge (10&#37; of the total fine calculated).</p>
            <p>If you have a low income (For example, you are in receipt of state benefits), the value of the fine determined by a magistrate may be lower that the Standard Penalty offered.</p>
          </div>
        </details-->

        <div class="button-actions">
          <p><a class="button" href="/declaration" role="button">Confirm and continue</a></p>
        </div>

        <p><a href="/">Back</a></p>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
