
    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge"><span class="heading-secondary">Make a plea</span> {{{title}}}</h1>

        <p>To pay your Court Fine online you will need the Division and Account Number from your &lsquo;Notice of Fine&rsquo; or &lsquo;Order&rsquo;.</p>
        <p>The example &lsquo;Fine Notice&rsquo; at the bottom of the page shows where you will find this information. You will also need your debit or credit card details.</p>
        <p>No personal card details will be stored by <abbr title="HM Courts &amp; Tribunals Service">HMCTS</abbr>, your email address is required for <span class="text-uppercase">payment</span> receipt only and is passed to the payment processor.</p>
        <p>It is important to provide a valid email address if you require a receipt for this payment, without a valid email address a receipt cannot be issued.</p>

        <p>The following cards are accepted:</p>

        <hr class="divider divider-gutter-large" aria-hidden="true">

        <h2 class="heading-large">Fine account details</h2>

        <form class="form" method="post" novalidate>

          <div class="form-group">
            <label for="division-number">
              <span class="form-label-bold">Division number</span>
            </label>
            <input class="form-control  form-control-3-4" id="division-number" name="divisionNumber" type="text">
          </div>

          <div class="form-group">
            <label for="account-number">
              <span class="form-label-bold">Account number</span>
            </label>
            <input class="form-control  form-control-3-4" id="account-number" name="accountNumber" type="text">
          </div>

          <h3 class="heading-small">Amount to pay</h3>
          <p><span class="visually-hidden">The amount you have to pay is </span>&pound;141.50</p>

          <div class="form-group">
            <label for="email-address">
              <span class="form-label-bold">Email address (optional)</span>
            </label>
            <input class="form-control  form-control-3-4" id="email-address" name="emailAddress" type="email">
          </div>

        </form>

        <div class="form-group  form-group-related">
          <button class="button">Make payment</button>
        </div>

        <p><a href="/">Back</a></p>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
