
    <a class="link-back" href="{{back_link}}">Back</a>


    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">{{{title}}}</h1>

        <form class="form" method="post" novalidate>

          <h2 class="heading-medium">Check your name and address</h2>

          <div class="panel  panel-border-wide" role="note" aria-label="Information">
            <p>
              <b>Mr Sam Smith</b><br>
              38A Baker Street<br>
              London<br>
              W1 7SX
            </p>
          </div>

          <fieldset class="inline">

            <legend>
              <span class="form-label-bold">Are these details correct?</span>
            </legend>

            <div class="form-group">

              <div class="multiple-choice">
                <input id="details-correct-yes" name="detailsCorrect" type="radio" value="Yes">
                <label for="details-correct-yes">Yes<span class="visually-hidden">, these details are correct</span></label>
              </div>

              <div class="multiple-choice" data-target="details-correct">
                <input id="details-correct-no" name="detailsCorrect" type="radio" value="No">
                <label for="details-correct-no">No<span class="visually-hidden">, these details are incorrect</span></label>
              </div>

              <div class="panel  panel-border-narrow  js-hidden" id="details-correct">

                <div class="form-group  form-group-related">
                  <label for="first-name">
                    <span class="form-label">First name</span>
                  </label>
                  <input class="form-control  form-control-2-3" id="first-name" name="firstName" type="text">
                </div>

                <div class="form-group">
                  <label for="last-name">
                    <span class="form-label">Last name</span>
                  </label>
                  <input class="form-control  form-control-2-3" id="last-name" name="lastName" type="text">
                </div>

                <div class="form-group">

                  <fieldset>

                    <legend>
                      <span class="form-label">Address</span>
                    </legend>

                    <div class="form-group  form-group-compound">
                      <label class="visually-hidden" for="address-line-1">Address line 1</label>
                      <input class="form-control  form-control-2-3" id="address-line-1" name="addressLine1" type="text">
                    </div>

                    <div class="form-group  form-group-compound">
                      <label class="visually-hidden" for="address-line-2">Address line 2</label>
                      <input class="form-control  form-control-2-3" id="address-line-2" name="addressLine2" type="text">
                    </div>

                    <div class="form-group">
                      <label class="visually-hidden" for="address-line-3">Address line 3</label>
                      <input class="form-control  form-control-2-3" id="address-line-3" name="addressLine3" type="text">
                    </div>

                    <div class="form-group">
                      <label for="town-or-city">
                        <span class="form-label">Town or city</span>
                      </label>
                      <input class="form-control" id="town-or-city" name="townOrCity" type="text">
                    </div>

                    <div class="form-group">
                      <label for="county">
                        <span class="form-label">County (optional)</span>
                      </label>
                      <input class="form-control" id="county" name="county" type="text">
                    </div>

                    <div class="form-group">
                      <label for="postcode">
                        <span class="form-label">Postcode</span>
                      </label>
                      <input class="form-control  form-control-1-4" id="postcode" name="postcode" type="text">
                    </div>

                  </fieldset>

                </div>

              </div>

            </div>

          </fieldset>

          <h2 class="heading-medium">Enter other details</h2>

          <div class="form-group">
            <label for="contact-number">
              <span class="form-label-bold">Contact number (landline or mobile)</span>
              <span class="form-hint" id="contact-number-hint">The court may need to contact you so they can resolve your case quickly</span>
            </label>
            <input class="form-control" id="contact-number" name="contactNumber" type="tel" aria-describedby="contact-number-hint">
          </div>

          <div class="form-group">
            <label for="email-address">
              <span class="form-label-bold">Email address</span>
              <span class="form-hint" id="email-address-hint">We&rsquo;ll automatically email you a copy of your plea</span>
            </label>
            <input class="form-control  form-control-2-3" id="email-address" name="emailAddress" type="email" aria-describedby="email-address-hint">
          </div>

          <div class="form-group">

            <fieldset>

              <legend>
                <span class="form-label-bold">Your date of birth</span>
                <span class="form-hint" id="dob-hint">For example, 18 5 1987</span>
              </legend>

              <div class="form-date">

                <div class="form-group  form-group-day">
                  <label class="form-label" for="dob-day">Day</label>
                  <input class="form-control" id="dob-day" name="dob-day" type="number" aria-describedby="dob-hint">
                </div>

                <div class="form-group  form-group-month">
                  <label class="form-label" for="dob-month">Month</label>
                  <input class="form-control" id="dob-month" name="dob-month" type="number">
                </div>

                <div class="form-group  form-group-year">
                  <label class="form-label" for="dob-year">Year</label>
                  <input class="form-control" id="dob-year" name="dob-year" type="number">
                </div>

              </div>

            </fieldset>

          </div>

          <div class="form-group">

            <fieldset class="inline">

              <legend>
                <span class="form-label-bold">Do you have a National Insurance number?</span>
              </legend>

              <div class="form-group">

                <div class="multiple-choice" data-target="ni-number">
                  <input id="ni-number-yes" name="niNumber" type="radio" value="Yes">
                  <label for="ni-number-yes">Yes<span class="visually-hidden">, I have a National Insurance number</span></label>
                </div>

                <div class="multiple-choice">
                  <input id="ni-number-no" name="niNumber" type="radio" value="No">
                  <label for="ni-number-no">No<span class="visually-hidden">, I don&rsquo;t have a National Insurance number</span></label>
                </div>

                <div class="panel  panel-border-narrow  js-hidden" id="ni-number">
                  <label for="national-insurance-number">
                    <span class="form-label">National Insurance number</span>
                    <span class="form-hint" id="national-insurance-number-hint">It&rsquo;s on your National Insurance card, benefit letter, payslip or P60. <br> For example, V0 12 34 56 D</span>
                  </label>
                  <input class="form-control" id="national-insurance-number" name="nationalInsuranceNumber" type="text" aria-describedby="national-insurance-number-hint">
                </div>

              </div>

            </fieldset>

          </div>

          <div class="form-group  form-group-related">
            <button class="button" type="submit">Continue</button>
          </div>

          <p><a href="{{back_link}}">Back</a></p>

        </form>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
