
    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge"><span class="heading-secondary">Make a plea</span> {{{title}}}</h1>

        <form class="form" method="post" novalidate>

          <div class="form-group">

            <fieldset>

              <legend>
                <span class="form-label-bold">Overall, how did you feel about the service you received today?</span>
              </legend>

              <label class="block-label  selection-button-radio">
                <input name="howDidYouFeelAboutTheServiceYouReceivedToday" type="radio" value="Very satisfied"> Very satisfied
              </label>

              <label class="block-label  selection-button-radio">
                <input name="howDidYouFeelAboutTheServiceYouReceivedToday" type="radio" value="Satisfied"> Satisfied
              </label>

              <label class="block-label  selection-button-radio">
                <input name="howDidYouFeelAboutTheServiceYouReceivedToday" type="radio" value="Neutral"> Neutral
              </label>

              <label class="block-label  selection-button-radio">
                <input name="howDidYouFeelAboutTheServiceYouReceivedToday" type="radio" value="Unsatisfied"> Unsatisfied
              </label>

              <label class="block-label  selection-button-radio">
                <input name="howDidYouFeelAboutTheServiceYouReceivedToday" type="radio" value="Very unsatisfied"> Very unsatisfied
              </label>

            </fieldset>

          </div>

          <div class="form-group">
            <label for="how-could-we-improve-this-service">
              <span class="form-label-bold">How could we improve this service?</span>
              <span class="form-hint">Don&rsquo;t include any person or financial information, for example your National Insurance number or credit card numbers</span>
            </label>
            <textarea class="form-control  form-control-3-4" id="how-could-we-improve-this-service" name="howCouldWeImproveThisService" cols="60" rows="3"></textarea>
          </div>

          <div class="form-group  form-group-related">
            <button class="button" type="submit">Send feedback</button>
          </div>

        </form>

      </div>

      <div class="column-one-third">
        {{>related elsewhere="true"}}
      </div>

    </div>
