
    <div class="grid-row">

      <div class="column-two-thirds">

        <div class="alert  alert--submitted">
          <h1 class="bold-large">{{{title}}}</h1>
          <p>Your case reference number is <br> <strong class="heading-medium">HDJ2123F</strong></p>
          <p>You will need to quote this if you contact the court.</p>
        </div>

        <h2 class="heading-medium">What happens next?</h2>

        <ul class="list  list-bullet">
          <li>we&rsquo;ll send you a confirmation of your conviction and standard penalty</li>
          <li>you can <a href="">print a copy</a> of this plea confirmation for your records</li>
        </ul>

        <div class="button-actions">
          <a class="button" href="/" role="button">Cotinue to make payment</a>
        </div>

      </div>

      <div class="column-one-third">
        {{>related}}
      </div>

    </div>
